<mat-card appearance="outlined">
  <mat-card-subtitle>Mutagenesis Details</mat-card-subtitle>
  <mat-card-content>
    <div *ngIf="canUpdatePlan; then editable else readOnly"></div>
    <ng-template #editable>
      <label for="mutagenesisExternalRef">Mutagenesis External Ref:</label>
      <mat-form-field appearance="fill" id="mutagenesisExternalRef">
        <input matInput [(ngModel)]="crisprAttempt.mutagenesisExternalRef" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <br>
      <label for="strainInjectedName">Strain Injected:</label>
      <mat-form-field appearance="fill">
        <mat-select class="select-content" [(value)]="crisprAttempt.strainInjectedName">
          <mat-option></mat-option>
          <mat-option *ngFor="let strain of strains" [value]="strain.name">
            {{strain.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
    </ng-template>

    <ng-template #readOnly>
      <label for="mutagenesisExternalRef">Mutagenesis External Ref:</label>
      <mat-form-field appearance="fill">
        <input matInput readonly [(value)]="crisprAttempt.mutagenesisExternalRef" />
      </mat-form-field>
      <br>

      <label for="strainInjectedName">Strain Injected:</label>
      <mat-form-field appearance="fill">
        <input matInput readonly [(value)]="crisprAttempt.strainInjectedName" />
      </mat-form-field>
    </ng-template>
  </mat-card-content>
</mat-card>