<mat-card>
        <mat-card-subtitle>Mutagenesis Details</mat-card-subtitle>
        <mat-card-content>
          <table>
            <tr>
              <td>
                Mutagenesis External Ref:
              </td>
              <td>
                {{ crisprAttempt.mutagenesisExternalRef }}
              </td>
            </tr>
            <tr>
              <td>
                Delivery Method:
              </td>
              <td>
                {{ crisprAttempt.deliveryTypeMethodName }}
              </td>
            </tr>
            <tr>
              <td>
                Voltage:
              </td>
              <td>
                {{ crisprAttempt.voltage || 'Not Defined' }}
              </td>
            </tr>
            <tr>
              <td>
                Number of pulses:
              </td>
              <td>
                {{ crisprAttempt.numberOfPulses || 'Not Defined' }}
              </td>
            </tr>
          </table>
        </mat-card-content>
      </mat-card>