<table mat-table [dataSource]="projectIntentions" class="mat-elevation-z1">
    <!-- Symbol-->
    <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Symbol </th>
        <td mat-cell *matCellDef="let element">
            <a href="{{ element.intentionByGene.gene.externalLink }}"
                target="_blank">{{ element.intentionByGene.gene.symbol }}</a>
        </td>
    </ng-container>

    <!-- Accession Id -->
    <ng-container matColumnDef="accessionId">
        <th mat-header-cell *matHeaderCellDef> Accession Id </th>
        <td mat-cell *matCellDef="let element">
            <a href="{{ element.intentionByGene.gene.externalLink }}"
                target="_blank">{{ element.intentionByGene.gene.accessionId }}</a>
        </td>
    </ng-container>

    <!-- Species -->
    <ng-container matColumnDef="species">
        <th mat-header-cell *matHeaderCellDef> Species </th>
        <td mat-cell *matCellDef="let element"> {{ element.intentionByGene.gene.speciesName }} </td>
    </ng-container>

    <!-- Species -->
    <ng-container matColumnDef="molecularMutationType">
        <th mat-header-cell *matHeaderCellDef> Molecular Mutation Type </th>
        <td mat-cell *matCellDef="let element"> {{ element.molecularMutationTypeName }} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
