<form name="form" (ngSubmit)="f.form.valid && singup()" #f="ngForm" novalidate>
  <div [ngClass]="{ 'has-error': f.submitted && !name.valid }">
    <label for="name">Name</label>
    <input type="name" name="name" [(ngModel)]="model.name" #name="ngModel" required />
    <div *ngIf="f.submitted && !name.valid">Name is required</div>
  </div>

  <div [ngClass]="{ 'has-error': f.submitted && !password.valid }">
      <label for="password">Password</label>
      <input type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required />
      <div *ngIf="f.submitted && !password.valid">Password is required</div>
  </div>

  <div [ngClass]="{ 'has-error': f.submitted && !password1.valid }">
      <label for="password">Password</label>
      <input type="password" name="password1" [(ngModel)]="model.password1" #password1="ngModel" required />
      <div *ngIf="f.submitted && !password1.valid">Password1 is required</div>
  </div>

  <div [ngClass]="{ 'has-error': f.submitted && !email.valid }">
    <label for="email">Email</label>
    <input type="email" name="email" [(ngModel)]="model.email" #email="ngModel"  required />
    <div *ngIf="f.submitted && !email.valid">Email is required</div>
  </div>

  <div [ngClass]="{ 'has-error': f.submitted && !workUnit.valid }">
    <label for="workUnit">Work Unit</label>
    <select type="workUnit" name="workUnit" [(ngModel)]="model.workUnit" #workUnit="ngModel" >
      <!-- <option *ngFor="let work_unit of workUnits" [value]="work_unit.id" [ngValue]="work_unit.name">{{ work_unit.name }}</option>   -->
      <option *ngFor="let workUnit of workUnits | async" [value]="workUnit.name" [ngValue]="workUnit.name">{{ workUnit.name }}</option>  
    </select>
    <!-- <div *ngIf="f.submitted && !workUnit.valid">workUnit is required</div> -->
  </div>
  
  <!-- <div [ngClass]="{ 'has-error': f.submitted && !workGroup.valid }">
    <label for="workGroup">Work Group</label>
    <select type="workGroup" name="workGroup" [(ngModel)]="model.workGroup" #workGroup="ngModel" >
      <option *ngFor="let workGroup of workGroups | async" [value]="workGroup.name" [ngValue]="workGroup.name">{{ workGroup.name }}</option>  
    </select>
    <div *ngIf="f.submitted && !workGroup.valid">workGroup is required</div>
  </div>

  <div [ngClass]="{ 'has-error': f.submitted && !consortium.valid }">
    <label for="consortium">Consortium</label>
    <select type="consortium" name="consortium" [(ngModel)]="model.consortium" #consortium="ngModel" required>
      <option *ngFor="let consortium of consortia | async" [value]="consortium.name" [ngValue]="consortium.name">{{ consortium.name }}</option>  
    </select>
    <div *ngIf="f.submitted && !consortium.valid">consortium is required</div>
  </div> -->

  <div [ngClass]="{ 'has-error': f.submitted && !institute.valid }">
    <label for="institute">Institute</label>
    <select type="institute" name="institute" [(ngModel)]="model.institute" #institute="ngModel" >
      <option *ngFor="let institute of institutes | async" [value]="institute.name" [ngValue]="institute.name">{{ institute.name }}</option>  
    </select>
    <!-- <div *ngIf="f.submitted && !institute.valid">Institute is required</div> -->
  </div>

  <div [ngClass]="{ 'has-error': f.submitted && !role.valid }">
    <label for="role">Role</label>
    <select type="role" name="role" [(ngModel)]="model.role" #role="ngModel" required>
      <option *ngFor="let role of roles | async" [value]="role.name" [ngValue]="role.name">{{ role.name }}</option>  
    </select>
    <div *ngIf="f.submitted && !role.valid">Role is required</div>
  </div>

  <div>
    <button [disabled]="loading">Sign up</button>
  </div>

  <ngb-alert *ngIf="dangerMessage" type="danger" (close)="dangerMessage = null">{{ dangerMessage }}</ngb-alert>

</form>

