#back-to-login-link {
    padding-left: 20px;
}

.form-group {
    margin-bottom: 80px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center space-evenly;
}

.mat-mdc-form-field-hint {
  line-height: 1.125;
}
