label,
.label {
  clear: both;
  float: left;
  padding-bottom: 5px;
  list-style: 1.7;
  padding-top: 5px;
  width: 180px;
}
input,
select {
  float: left;
}
.content {
  clear: both;
  float: none;
  padding-bottom: 5px;
}
.section {
  clear: both;
  float: left;
}
.name {
  font-weight: bold;
}

.large-content {
  width: 500px;
  line-height: 1.7;
  padding-bottom: 5px;
}

button {
  clear: both;
  float: left;
}

mat-checkbox {
  clear: both;
  float: left;
}
