.mutation-card {
  width: 1200px;
}

.sequences-card {
  width: 1150px;
  padding-top: 10px;
}

label {
  clear: both;
  float: left;
  padding-bottom: 5px;
  list-style: 1.7;
  width: 180px;
}
input,
select {
  float: left;
}
.content {
  clear: both;
  float: none;
  padding-bottom: 5px;
}
.section {
  clear: both;
  float: left;
}
.name {
  font-weight: bold;
}

.large-content {
  width: 500px;
  line-height: 1.7;
  padding-bottom: 5px;
}

button {
  clear: both;
  float: left;
}

mat-checkbox {
  clear: both;
  float: left;
}

.select-content {
  max-width: 50%;
}

.select-content-fix-width {
  width: 250px;
}

fieldset {
  width: 600px;
}

.genes {
  padding-top: 10px;
  padding-bottom: 10px;
}

.mutationSequences {
  padding-top: 200px;
  clear: both;
   /* float: none;  */
  padding-bottom: 5px;
}
