<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Project {{project.projectDetails.tpn}}</li>
  </ol>
</nav>

<div class="card">
  <div class="card-title"><u>Project Details</u></div>
  <div class="card-body">
    <table>
      <tr>
        <td>Project id:</td>
        <td>{{ project.projectDetails.tpn }}</td>
      </tr>
      <tr>
        <td>Marker Symbol(s)</td>
        <td>
          <div *ngFor="let markerSymbol of project.projectDetails.markerSymbols">
            <span class="badge badge-pill badge-primary">{{markerSymbol.markerSymbol}}</span>
          </div>
        </td>
      </tr>
      <tr>
        <td>Intentions</td>
        <td>
          <div *ngFor="let intention of project.projectDetails.alleleIntentions">
            <span class="badge badge-pill badge-primary">{{intention}}</span>
          </div>
        </td>
      </tr>
      <tr>
        <td>Assignment Status:</td>
        <td>{{project.projectDetails.assigmentStatusName}}</td>
      </tr>
      <tr>
        <td>Priority:</td>
        <td>{{project.projectDetails.priorityName}}</td>
      </tr>
    </table>
  </div>

  <div class="card-body">
      <div *ngIf="productionPlansDetails.length > 0">
          <h4>Production Plans:</h4>
          <table>
            <tbody>
              <tr *ngFor="let productionPlanDetail of productionPlansDetails">
                <app-plan-summary [planDetails]="productionPlanDetail"></app-plan-summary>
              </tr>
            </tbody>
          </table>
        </div>
  </div>

  <div class="card-body">
      <div *ngIf="phenotypingPlansDetails.length > 0">
          <h4>Phenotype Plans:</h4>
          <table>
            <tbody>
              <tr *ngFor="let phenotypingPlanDetail of phenotypingPlansDetails">
                <app-plan-summary [planDetails]="phenotypingPlanDetail"></app-plan-summary>
              </tr>
            </tbody>
          </table>
        </div>

  </div>



</div>

<!-- <div class="card">
<div *ngIf="productionPlansDetails.length > 0">
  <h4>Production Plans:</h4>
  <table>
    <tbody>
      <tr *ngFor="let productionPlanDetail of productionPlansDetails">
        <app-plan-summary [planDetails]="productionPlanDetail"></app-plan-summary>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="phenotypingPlansDetails.length > 0">
  <h4>Phenotype Plans:</h4>
  <table>
    <tbody>
      <tr *ngFor="let phenotypingPlanDetail of phenotypingPlansDetails">
        <app-plan-summary [planDetails]="phenotypingPlanDetail"></app-plan-summary>
      </tr>
    </tbody>
  </table>
</div>
</div> -->