.sequence-card {
  width: 1100px;
  margin-bottom: 20px;
}

label {
  clear: both;
  float: left;
  padding-bottom: 5px;
  list-style: 1.7;
  width: 180px;
}

.content {
  /* clear: both; */
  float: none;
  padding-bottom: 5px;
}

textarea {
  width: 500px;
  min-width: 100px;
}

.select-content {
  max-width: 50%;
}

mat-select {
  width: 250px;
}

mat-card-actions {
  margin-top: 10px;
}
