<mat-card class="sequence-card">
    <mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="warn" *ngIf="canUpdate" matTooltip="Click to Delete"
                (click)="delete()">Delete sequence</button>
        </mat-card-actions>
        <div *ngIf="canUpdate; then editable else readOnly"></div>
        <ng-template #editable>

            <label for="index">Index:</label>
            <div id="index">
                <mat-form-field appearance="fill" class="example-full-width">
                    <input appDigitOnly matInput [(ngModel)]="indexedSequence.index">
                </mat-form-field>
            </div>

            <label for="sequence">Sequence:</label>
            <div id="sequence" class="sequenceDiv">
                <mat-form-field appearance="fill" class="matFormFieldSequence">
                    <textarea matInput class="textareaSequence"
                        [(ngModel)]="indexedSequence.sequence.sequence"
                        [ngModelOptions]="{standalone: true}">
                    </textarea>
                </mat-form-field>
            </div>

            <br>
            <br>

            <label for="type">Type:</label>
            <div id="sequenceType">
                <mat-form-field appearance="fill" class="content">
                    <mat-select [(value)]="indexedSequence.sequence.typeName">
                        <mat-option></mat-option>
                        <mat-option *ngFor="let sequenceType of sequenceTypes" [value]="sequenceType.name">
                            {{sequenceType.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div id="sequenceCategory" *ngIf="showSequenceCategory">
                <label for="type">Category:</label>
                <div id="type" class="content">
                    <mat-select [(value)]="indexedSequence.sequence.categoryName">
                        <mat-option></mat-option>
                        <mat-option *ngFor="let sequenceCategory of sequenceCategories" [value]="sequenceCategory.name">
                            {{sequenceCategory.name}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>

        </ng-template>

        <ng-template #readOnly>
            <label for="index">Index:</label>
            <div id="index">{{ indexedSequence.index }}</div>

            <label for="sequence">Sequence:</label>
            <div id="sequence" class="content">
                <textarea class="content" matInput [(ngModel)]="indexedSequence.sequence.sequence"
                    [ngModelOptions]="{standalone: true}" [readonly]="true"></textarea>
            </div>

            <label for="type">Type:</label>
            <div id="type" class="content">{{ indexedSequence.sequence.typeName }}</div>

            <div id="sequenceCategory" *ngIf="showSequenceCategory">
                <label for="type">Category:</label>
                <div id="type" class="content">{{ indexedSequence.sequence.categoryName }}</div>
            </div>

        </ng-template>

        <div *ngIf="showLocations">
            <label>Locations:</label>
            <app-indexed-locations [indexedSequence]="indexedSequence" [canUpdate]="canUpdate"></app-indexed-locations>
        </div>
        
    </mat-card-content>
</mat-card>