<mat-card class="sequence-card">
    <mat-card-content>

        <label for="index">Index:</label>
        <div id="index">{{ indexedSequence.index }}</div>

        <label for="sequence">Sequence:</label>
        <div id="sequence" class="content">
            <textarea class="content" matInput [(ngModel)]="indexedSequence.sequence.sequence"
                [ngModelOptions]="{standalone: true}"></textarea>
        </div>

        <label for="type">Type:</label>
        <div id="type" class="content">{{ indexedSequence.sequence.typeName }}</div>

        <label for="type">Category:</label>
        <div id="type" class="content">{{ indexedSequence.sequence.categoryName }}</div>
        

        <div>
            <label>Locations:</label>
            <app-indexed-locations [indexedSequence]=indexedSequence ></app-indexed-locations>
        </div>

    
    </mat-card-content>

</mat-card>