.sequence-card {
  width: 1100px;
  margin-bottom: 25px;
  border-width: 2px;
  border-style: groove;
  box-shadow: none;
}

label {
  clear: both;
  float: left;
  padding-bottom: 5px;
  list-style: 1.7;
  width: 180px;
}

.content {
  /* clear: both; */
  float: none;
  padding-bottom: 5px;
}

.sequenceDiv {
  vertical-align: top;
}

.matFormFieldSequence {
  width: 40em; 
  height: 8em;
}

.textareaSequence {
  height: 8em;
}

.select-content {
  max-width: 50%;
}

mat-select {
  width: 250px;
}

mat-card-actions {
  text-align: right;
}
