<div *ngIf="canUpdate; then consortiaEditable else consortiaReadOnly"></div>
<ng-template #consortiaEditable>
    <ng-container [formGroup]="consortiaForm">
        <label for="consortiumName">Consortia *:</label>
        <mat-form-field appearance="fill">
            <mat-label>Choose your consortium</mat-label>
            <mat-select multiple
                        (blur)="onTouched()" 
                        formControlName="consortiumName">
                <mat-option *ngFor="let consortium of consortia" [value]="consortium.name">
                    {{ consortium.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </ng-container>
    <br>
</ng-template>
<ng-template #consortiaReadOnly>
    <tr>
        <td><label for="consortia">Consortia:</label></td>
        <td>
            <ng-container *ngFor="let consortium of project.consortia">
                {{ consortium.consortiumName }},
            </ng-container>
        </td>
    </tr>
</ng-template>