/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

    .privacy {
        font-size: 0.9rem;
    }
  