<form [formGroup]="editCrisprAttempt">
  <app-crispr-attempt-details [crisprAttempt]="crisprAttempt" [canUpdatePlan]="canUpdatePlan">
  </app-crispr-attempt-details>

  <app-mutagenesis-details [crisprAttempt]="crisprAttempt" [canUpdatePlan]="canUpdatePlan">
  </app-mutagenesis-details>

  <app-guides [crisprAttempt]="crisprAttempt" [canUpdatePlan]="canUpdatePlan"></app-guides>

  <app-genotype-primers [crisprAttempt]="crisprAttempt" [canUpdatePlan]="canUpdatePlan">
  </app-genotype-primers>

  <app-mutagenesis-donors [crisprAttempt]="crisprAttempt" [canUpdatePlan]="canUpdatePlan">
  </app-mutagenesis-donors>

  <app-nuclease [crisprAttempt]="crisprAttempt" [canUpdatePlan]="canUpdatePlan"></app-nuclease>

  <app-reagents [crisprAttempt]="crisprAttempt" [canUpdatePlan]="canUpdatePlan"></app-reagents>

</form>