<div *ngIf="error" class="alert alert-danger">{{error}}</div>
<mat-card>
  <mat-card-content>
    <a [routerLink]="['history']">History</a>
    <div>
      <app-go-back></app-go-back>
    </div>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-subtitle>Project Details</mat-card-subtitle>
  <mat-card-content>
    <form [formGroup]="projectForm">
      <fieldset>

        <label for="tpn">Project id:</label>
        <div id="tpn">{{ project.tpn }}</div>

        <label for="assignmentStatus">Assignment Status:</label>
        <div id="assignmentStatus" class="content">{{ project.assignmentStatusName }}</div>

        <label for="summaryStatusName">Summary Status:</label>
        <div id="summaryStatusName" class="content">{{ project.summaryStatusName }}</div>

        <label for="privacy">Privacy:</label>
        <div *ngIf="canUpdateProject; then privacyEditable else privacyReadOnly"></div>
        <ng-template #privacyEditable>
          <div class="content">
            <mat-form-field appearance="fill">
              <mat-select [(value)]="project.privacyName" >
                <mat-option></mat-option>
                <mat-option *ngFor="let privacy of privacies" [value]="privacy.name">
                  {{ privacy.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </ng-template>
        <ng-template #privacyReadOnly>
          <div style="float: left;">{{ project.privacyName }}</div>
        </ng-template>

        <label for="privacy">Recovery:</label>
        <div id="privacy" class="content">
          <div *ngIf="canUpdateProject; then recoveryEditable else recoveryReadOnly"></div>
          <ng-template #recoveryEditable>
            <mat-checkbox [(ngModel)]="project.recovery" [ngModelOptions]="{standalone: true}"></mat-checkbox>
          </ng-template>
          <ng-template #recoveryReadOnly>
            <mat-checkbox [(ngModel)]="project.recovery" [disabled]=true [ngModelOptions]="{standalone: true}"></mat-checkbox>
          </ng-template>
        </div>
      </fieldset>

      <app-project-consortium-institutes [project]="project" [canUpdate]="false"></app-project-consortium-institutes>

      <fieldset>
        <p>Intentions:</p>
        <app-intention-list *ngIf="project.projectIntentions" [projectIntentions]="project.projectIntentions">
        </app-intention-list>
      </fieldset>
      <fieldset>
        <label for="comment">Comment:</label>
        <div *ngIf="canUpdateProject; then commentsEditable else commentsReadOnly"></div>
        <ng-template #commentsEditable>
          <mat-form-field appearance="fill">
            <textarea matInput formControlName="comments" class="form-control"
              (change)="onTextCommentChanged($event)"></textarea>
          </mat-form-field>
        </ng-template>
        <ng-template #commentsReadOnly>
          {{ project.comment }}
        </ng-template>
      </fieldset>
    </form>
  </mat-card-content>
</mat-card>

<app-status-date [statusDates]="project.assignmentStatusStamps" [title]="'Assignment Status Stamps'"></app-status-date>

<mat-card>
  <fieldset>
    <legend class="subtitle">
      Production Plans
    </legend>
    <table style="width: 100%;" *ngIf="productionPlansDetails.length > 0">
      <tbody>
        <tr *ngFor="let productionPlanDetail of sortByPid(productionPlansDetails)">
          <app-plan-summary [plan]="productionPlanDetail"></app-plan-summary>
        </tr>
      </tbody>
    </table>

    <div *ngIf="canCreateProductionPlan; then enabledProductionPlanButton else disabledProductionPlanButton"></div>

    <ng-template #enabledProductionPlanButton>
      <a routerLink="plan-creation" [queryParams]="{planType: 'production'}" target="_blank"><button
          class="create-button" mat-raised-button color="primary">Add Production
          Plan</button></a>
    </ng-template>

    <ng-template #disabledProductionPlanButton>
      <button class="create-button" disabled="true" mat-raised-button color="primary">Add Production Plan</button>
    </ng-template>

  </fieldset>

  <div class="separation"></div>

  <fieldset>
    <legend class="subtitle">
      Phenotyping Plans
    </legend>
    <table style="width: 100%;" *ngIf="phenotypingPlansDetails.length > 0">
      <tbody>
        <tr *ngFor="let phenotypingPlanDetail of sortByPid(phenotypingPlansDetails)">
          <app-plan-summary [plan]="phenotypingPlanDetail"></app-plan-summary>
        </tr>
      </tbody>
    </table>

    <div *ngIf="canCreatePhenotypingPlan; then enabledPhenotypingPlanButton else disabledPhenotypingPlanButton"></div>

    <ng-template #enabledPhenotypingPlanButton>
      <a routerLink="plan-creation" [queryParams]="{planType: 'phenotyping'}" target="_blank"><button
          class="create-button" mat-raised-button color="primary">Add Phenotyping
          Plan</button></a>
    </ng-template>

    <ng-template #disabledPhenotypingPlanButton>
      <button class="create-button" mat-raised-button color="primary" disabled="true"
        matTooltip="Info about the action">Add Phenotyping
        Plan</button>
    </ng-template>

  </fieldset>

</mat-card>

<mat-card>
  <mat-card-content>
    <button mat-raised-button color="primary" [disabled]="!shouldUpdateBeEnabled()" *ngIf="canUpdateProject"
      (click)="updateProject()">Update</button>
  </mat-card-content>
</mat-card>