<div *ngIf="error" class="alert alert-danger">{{error}}</div>
<mat-card>
  <mat-card-content>
    <a [routerLink]="['history']">History</a>
    <div>
      <app-go-back></app-go-back>
    </div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-subtitle>Project Details.</mat-card-subtitle>
  <mat-card-content>
    <form [formGroup]="projectForm">
      <div id="project" class="tpn">
        <label for="tpn">Project id:</label>
        <div id="tpn">{{ project.tpn }}</div>
      </div>
      <app-intention-by-gene-list *ngIf="projectIntentionsByGene" [projectIntentions]="projectIntentionsByGene">
      </app-intention-by-gene-list>
      <app-intention-by-sequence-list *ngIf="projectIntentionsBySequence"
        [projectIntentions]="projectIntentionsBySequence"></app-intention-by-sequence-list>

      <fieldset>

        <label for="assignmentStatus">Assignment Status:</label>
        <div id="assignmentStatus" class="content">{{project.assignmentStatusName}}</div>

        <label for="active">Active?:</label>
        <input id="active" type="checkbox" (change)="onActiveSelected()" [checked]="this.project.isActive"
          [disabled]="!canUpdateProject">

        <label for="privacy">Privacy:</label>
        <div id="privacy" class="content">
          <div *ngIf="canUpdateProject; then privacyEditable else privacyReadOnly"></div>
          <ng-template #privacyEditable>
            <mat-select class="select-content" [(value)]="project.privacyName">
              <mat-option *ngFor="let privacy of privacies" [value]="privacy.name">
                {{privacy.name}}
              </mat-option>
            </mat-select>
          </ng-template>
          <ng-template #privacyReadOnly>
            {{project.privacyName}}
          </ng-template>
        </div>

        <label for="withdrawn">Withdrawn?:</label>
        <input id="withdrawn" type="checkbox" (change)="onWithdrawnSelected()" [checked]="this.project.withdrawn"
          [disabled]="!canUpdateProject">

        <label for="recovery">Recovery?:</label>
        <input id="recovery" type="checkbox" (change)="onRecoverySelected()" [checked]="this.project.recovery"
          [disabled]="!canUpdateProject">

        <label for="comment">Comment:</label>
        <div id="comment" class="content">
          <div *ngIf="canUpdateProject; then commentsEditable else commentsReadOnly"></div>
          <ng-template #commentsEditable>
            <textarea type="text" formControlName="comments" class="form-control"
              (change)="onTextCommentChanged($event)"></textarea>
          </ng-template>
          <ng-template #commentsReadOnly>
            {{project.comment}}
          </ng-template>
        </div>

      </fieldset>

    </form>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <button mat-raised-button color="primary" [disabled]="!shouldUpdateBeEnabled()" *ngIf="canUpdateProject && false"
      (click)="updateProject()">Update</button>
  </mat-card-content>
</mat-card>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Status Stamps
      </mat-panel-title>
    </mat-expansion-panel-header>

    <table mat-table [dataSource]="project.assignmentStatusDates" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="assignmentStatusDatesColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: assignmentStatusDatesColumns;"></tr>
    </table>
  </mat-expansion-panel>
</mat-accordion>

<mat-card *ngIf="productionPlansDetails.length > 0">
  <mat-card-subtitle>Production Plans</mat-card-subtitle>
  <mat-card-content>
    <table style="width: 100%;">
      <tbody>
        <tr *ngFor="let productionPlanDetail of sortByPid(productionPlansDetails)">
          <app-plan-summary [plan]="productionPlanDetail"></app-plan-summary>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="phenotypingPlansDetails.length > 0">
  <mat-card-subtitle>Phenotyping Plans</mat-card-subtitle>
  <mat-card-content>
    <table style="width: 100%;">
      <tbody>
        <tr *ngFor="let phenotypingPlanDetail of sortByPid(phenotypingPlansDetails)">
          <app-plan-summary [plan]="phenotypingPlanDetail"></app-plan-summary>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>