<div *ngIf="error" class="alert alert-danger">{{error}}</div>
<mat-card>
  <mat-card-content>
    <a [routerLink]="['history']">History</a>
    <div>
      <app-go-back></app-go-back>
    </div>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-subtitle>Project Details</mat-card-subtitle>
  <mat-card-content>
    <form [formGroup]="projectForm">
      <fieldset>

        <label for="tpn">Project id:</label>
        <div id="tpn">{{ project.tpn }}</div>

        <label for="assignmentStatus">Assignment Status:</label>
        <div id="assignmentStatus" class="content">{{project.assignmentStatusName}}</div>

        <label for="summaryStatusName">Summary Status:</label>
        <div id="summaryStatusName" class="content">{{project.summaryStatusName}}</div>

        <label for="privacy">Privacy:</label>
        <div id="privacy" class="content">
          <div *ngIf="canUpdateProject; then privacyEditable else privacyReadOnly"></div>
          <ng-template #privacyEditable>
            <mat-select class="select-content" [(value)]="project.privacyName">
              <mat-option *ngFor="let privacy of privacies" [value]="privacy.name">
                {{privacy.name}}
              </mat-option>
            </mat-select>
          </ng-template>
          <ng-template #privacyReadOnly>
            {{project.privacyName}}
          </ng-template>
        </div>
      </fieldset>

      <fieldset>
        <p>Intentions:</p>
        <app-intention-list *ngIf="project.projectIntentions" [projectIntentions]="project.projectIntentions">
        </app-intention-list>
      </fieldset>
      <fieldset>
        <label for="comment">Comment:</label>
        <div id="comment" class="comment">
          <div *ngIf="canUpdateProject; then commentsEditable else commentsReadOnly"></div>
          <ng-template #commentsEditable>
            <textarea type="text" formControlName="comments" class="form-control"
              (change)="onTextCommentChanged($event)"></textarea>
          </ng-template>
          <ng-template #commentsReadOnly>
            {{project.comment}}
          </ng-template>
        </div>
      </fieldset>
    </form>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <button mat-raised-button color="primary" [disabled]="!shouldUpdateBeEnabled()" *ngIf="canUpdateProject"
      (click)="updateProject()">Update</button>
  </mat-card-content>
</mat-card>

<app-status-date [statusDates]="project.assignmentStatusStamps" [title]="'Assignment Status Stamps'"></app-status-date>

<mat-card *ngIf="productionPlansDetails.length > 0">
  <mat-card-subtitle>Production Plans</mat-card-subtitle>
  <mat-card-content>
    <table style="width: 100%;">
      <tbody>
        <tr *ngFor="let productionPlanDetail of sortByPid(productionPlansDetails)">
          <app-plan-summary [plan]="productionPlanDetail"></app-plan-summary>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="phenotypingPlansDetails.length > 0">
  <mat-card-subtitle>Phenotyping Plans</mat-card-subtitle>
  <mat-card-content>
    <table style="width: 100%;">
      <tbody>
        <tr *ngFor="let phenotypingPlanDetail of sortByPid(phenotypingPlansDetails)">
          <app-plan-summary [plan]="phenotypingPlanDetail"></app-plan-summary>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>