<app-sequence *ngIf="projectIntention.intentionBySequence" [sequence]="projectIntention.intentionBySequence.sequenceAttributes.sequenceLocations"></app-sequence>

<fieldset>
    <label for="alleleType">Allele Type:</label>
    <div id="alleleType" class="content">{{ projectIntention.alleleTypeName || 'Not defined' }}</div>

    <label for="molecularMutationType:">Molecular Mutation Type:</label>
    <div id="molecularMutationType" class="content">
        {{ projectIntention.molecularMutationTypeName || 'Not defined'}}
    </div>
</fieldset>
