<table>
    <tr>
      <td>
        <b>PIN:</b>
      </td>
      <td>
        {{phenotypePlan.planDetails.pin}}
      </td>
    </tr>
    <tr>
      <td>
        <b>privacyName:</b>
      </td>
      <td>
        {{phenotypePlan.planDetails.privacyName}}
      </td>
    </tr>
    <tr>
      <td>
        <b>statusName:</b>
      </td>
      <td>
        {{phenotypePlan.planDetails.statusName}}
      </td>
    </tr>
    <tr>
      <td>
        <b>workUnitName:</b>
      </td>
      <td>
        {{phenotypePlan.planDetails.workUnitName}}
      </td>
    </tr>
    <tr>
      <td>
        ---
      </td>
      <td>
        ----
      </td>
    </tr>
    <tr>
      <td>
        x Details
      </td>
      <td>
      </td>
    </tr>
    <tr>
      <td>
        <b>field 1</b>
      </td>
      <td>

      </td>
    </tr>

  </table>