label {
  clear: both;
  float: left;
  padding-bottom: 5px;
  width: 200px;
}

table {
  width: 100%;
}

table,
th,
tr,
td {
  padding: 10px;
  text-align: left;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.12);
  font-size: 14px;
}

.separation {
  padding-top: 10px;
}

.textarea-full-width {
  width: 100%;
}

.exon-table {
  width: 130%;
  border-collapse: collapse;
  margin-bottom: 12px;
  table-layout: fixed; /* Important: enables fixed column widths */
}

.exon-table th, .exon-table td {
  border: 1px solid #ddd;
  padding: 8px;
  vertical-align: top;
  text-align: left;
}

.exon-table th {
  background-color: #f1f1f1;
}

.exon-table th:nth-child(1),
.exon-table td:nth-child(1) {
  width: 20%;
  word-wrap: break-word;
}

.exon-table th:nth-child(2),
.exon-table td:nth-child(2) {
  width: 80%;
}

.transcript-group {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.transcript-item {
  padding: 6px 10px;
  background-color: #eef3fc;
  border: 1px solid #90caf9;
  border-radius: 8px;
  font-size: 14px;
}
