<p>
  <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
    {{productionPlan.planDetails.pin}}
  </button>
</p>
<div></div>
<div id="collapseExample" [ngbCollapse]="isCollapsed">
  <div class="card">
    <div class="card-body">

      <div class="card">
        <div class="card-body">
          <div class="card-title"><u>Plan Details</u></div>
          <table>
            <tr>
              <td>
                PIN:
              </td>
              <td>
                {{productionPlan.planDetails.pin}}
              </td>
            </tr>
            <tr>
              <td>
                Privacy:
              </td>
              <td>
                {{productionPlan.planDetails.privacyName}}
              </td>
            </tr>
            <tr>
              <td>
                Status:
              </td>
              <td>
                {{productionPlan.planDetails.statusName}}
              </td>
            </tr>
            <tr>
              <td>
                WorkUnit:
              </td>
              <td>
                {{productionPlan.planDetails.workUnitName}}
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="card-title"><u>Attempt Details</u></div>
          <table>
            <tr>
              <td>
                Attempt Type:
              </td>
              <td>
                {{productionPlan.attempt.attemptType}}
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div class="card-title"><u>Crispr Attempt Details</u></div>
          <table>
            <tr>
              <td>
                MI date:
              </td>
              <td>
                {{productionPlan.attempt.crisprAttempt.miDate}}
              </td>
            </tr>

            <tr>
              <td>
                MI external Ref:
              </td>
              <td>
                {{productionPlan.attempt.crisprAttempt.miExternalRef}}
              </td>
            </tr>

            <tr>
              <td>
                Experimental?:
              </td>
              <td>
                {{productionPlan.attempt.crisprAttempt.experimental}}
              </td>
            </tr>
            <tr>
              <td>
                Comments:
              </td>
              <td>
                {{productionPlan.attempt.crisprAttempt.comment}}
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div class="card-title"><u>Mutagenesis Details</u></div>
          <table>
            <tr>
              <td>
                Mutagenesis External Ref:
              </td>
              <td>
                {{ productionPlan.attempt.crisprAttempt.mutagenesisExternalRef }}
              </td>
            </tr>
            <tr>
              <td>
                Delivery Method:
              </td>
              <td>
                {{ productionPlan.attempt.crisprAttempt.deliveryMethod }}
              </td>
            </tr>
            <tr>
              <td>
                Voltage:
              </td>
              <td>
                {{ productionPlan.attempt.crisprAttempt.voltage }}
              </td>
            </tr>
            <tr>
              <td>
                Number of pulses:
              </td>
              <td>
                {{ productionPlan.attempt.crisprAttempt.numberOfPulses }}
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="card">
          <div class="card-body">
            <div class="card-title"><u>Genotype Primers</u></div>
            <table mdbTable  bordered="true">
                <thead>
                  <tr>
                    <th scope="col">Name </th>
                    <th scope="col">Sequence </th>
                    <th scope="col">Coordinate Start </th>
                    <th scope="col">Coordinate End</th>
                  </tr>
                </thead>
                <tbody>
                  <tr mdbTableCol *ngFor="let el of productionPlan.attempt.crisprAttempt.primers">
                    <td>{{el.name}}</td>
                    <td>{{el.sequence}}</td>
                    <td>{{el.startCoordinate}}</td>
                    <td>{{el.endCoordinate}}</td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
    </div>
  </div>
</div>