<p>
  <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
    {{productionPlan.planDetails.pin}}
  </button>
</p>
<div></div>
<div id="collapseExample" [ngbCollapse]="isCollapsed">
  <div class="card">
    <div class="card-body">

      <div class="card">
        <div class="card-body">
          <div class="card-title"><u>Plan Details</u></div>
          <table>
            <tr>
              <td>
                PIN:
              </td>
              <td>
                {{productionPlan.planDetails.pin}}
              </td>
            </tr>
            <tr>
              <td>
                Privacy:
              </td>
              <td>
                {{productionPlan.planDetails.privacyName}}
              </td>
            </tr>
            <tr>
              <td>
                Status:
              </td>
              <td>
                {{productionPlan.planDetails.statusName}}
              </td>
            </tr>
            <tr>
              <td>
                WorkUnit:
              </td>
              <td>
                {{productionPlan.planDetails.workUnitName}}
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div class="card-title"><u>Microinjection Details</u></div>
          <table>
            <tr>
              <td>
                Blast Strain:
              </td>
              <td>
                {{ productionPlan.productionPlanSummary.microInjectionDetails.blastStrain }}
              </td>
            </tr>
            <tr>
              <td>
                Mutagenesis Factor Reference:
              </td>
              <td>
                {{ productionPlan.productionPlanSummary.microInjectionDetails.mutagenesisFactorReference }}
              </td>
            </tr>
            <tr>
              <td>
                Predicted Allele:
              </td>
              <td>
                {{ productionPlan.productionPlanSummary.microInjectionDetails.predictedAllele }}
              </td>
            </tr>
            <tr>
              <td>
                Reference:
              </td>
              <td>
                {{ productionPlan.productionPlanSummary.microInjectionDetails.reference }}
              </td>
            </tr>
            <tr>
              <td>
                Test Cross Strain:
              </td>
              <td>
                {{ productionPlan.productionPlanSummary.microInjectionDetails.testCrossStrain }}
              </td>
            </tr>
            <tr>
          </table>
        </div>
      </div>


      <div class="card">
        <div class="card-body">
          <div class="card-title"><u>F1 Colony Details</u></div>
          <table>
            <tr>
              <td>
                Allele Name:
              </td>
              <td>
                {{ productionPlan.productionPlanSummary.f1ColonyDetails.alleleName }}
              </td>
            </tr>

            <tr>
              <td>
                Allele Output:
              </td>
              <td>
                {{ productionPlan.productionPlanSummary.f1ColonyDetails.alleleOutput }}
              </td>
            </tr>

            <tr>
              <td>
                Colony Background Strain:
              </td>
              <td>
                {{ productionPlan.productionPlanSummary.f1ColonyDetails.colonyBackgroundStrain }}
              </td>
            </tr>

            <tr>
              <td>
                Colony:
              </td>
              <td>
                {{ productionPlan.productionPlanSummary.f1ColonyDetails.colonyName }}
              </td>
            </tr>

            <tr>
              <td>
                Distribution Centre(s):
              </td>
              <td>
                {{ productionPlan.productionPlanSummary.f1ColonyDetails.distributionCentres }}
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div class="card-title"><u>CRISPR Attempt Details</u></div>
          <table>
            <tr>
              <td>
                MI Date:
              </td>
              <td>
                {{ productionPlan.productionPlanSummary.crisprAttemptDetails.miDate }}
              </td>
            </tr>

            <tr>
              <td>
                Experimental?:
              </td>
              <td>
                {{ productionPlan.productionPlanSummary.crisprAttemptDetails.experimental }}
              </td>
            </tr>

            <tr>
              <td>
                Comments:
              </td>
              <td>
                {{ productionPlan.productionPlanSummary.crisprAttemptDetails.comments }}
              </td>
            </tr>

            <tr>
              <td>
                MI External Ref:
              </td>
              <td>
                {{ productionPlan.productionPlanSummary.crisprAttemptDetails.miExternalRef }}
              </td>
            </tr>

            <tr>
              <td>
                Distribution Centre(s):
              </td>
              <td>
                {{ productionPlan.productionPlanSummary.f1ColonyDetails.distributionCentres }}
              </td>
            </tr>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>