<form [formGroup]="editCrisprAttemptDetails">
  <mat-card>
    <mat-card-subtitle>Crispr Attempt Details</mat-card-subtitle>
    <mat-card-content>
      <table>
        <tr>
          <td>
            Attempt Type:
          </td>
          <td>
            {{crisprAttempt.attempt_type_name}}
          </td>
        </tr>
        <tr>
          <td>
            MI date:
          </td>
          <div *ngIf="canUpdatePlan; then miDateEditable else miDateReadOnly"></div>

          <ng-template #miDateEditable>
            <td>
              <mat-form-field>
                <input matInput [matDatepicker]="datePicker" [(ngModel)]="crisprAttempt.mi_date"
                  [ngModelOptions]="{standalone: true}" (dateChange)="onDateChanged()">
                <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                <mat-datepicker #datePicker></mat-datepicker>
              </mat-form-field>
            </td>
          </ng-template>

          <ng-template #miDateReadOnly>
            <td>
              {{crisprAttempt.mi_date | date}}
            </td>
          </ng-template>
        </tr>

        <tr>
          <td>
            MI external Ref:
          </td>
          <div *ngIf="canUpdatePlan; then miExternalRefEditable else miExternalRefReadOnly"></div>
          <ng-template #miExternalRefEditable>
            <td>
              <div class="form-group">
                <textarea type="text" formControlName="miExternalRef" class="form-control"
                (keyup)="onTextmiExternalRefChanged()"></textarea>
              </div>
            </td>
          </ng-template>

          <ng-template #miExternalRefReadOnly>
            <td>
              {{crisprAttempt.attempt_external_ref}}
            </td>
          </ng-template>
        </tr>

        <tr>
          <td>
            Experimental:
          </td>
          <td>
            <input type="checkbox" (change)="onExperimentalChecked()" [checked]="this.crisprAttempt.experimental"
              [disabled]="!canUpdatePlan">
          </td>
        </tr>
        <tr>
          <td>
            Comments:
          </td>
          <div *ngIf="canUpdatePlan; then commentEditable else commentReadOnly"></div>
          <ng-template #commentEditable>
            <td>
              <div class="form-group">
                <textarea type="text" #box formControlName="comment" class="form-control"
                  (keyup)="onTextCommentChanged()"></textarea>
              </div>
            </td>
          </ng-template>

          <ng-template #commentReadOnly>
            <td>
              {{crisprAttempt.comment}}
            </td>
          </ng-template>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</form>