<form [formGroup]="phenotypingAttemptForm">
    <mat-card>
        <mat-card-subtitle>Phenotyping Attempt</mat-card-subtitle>
        <mat-card-content>
            <table>
                <tr>
                    <td>
                        Phenotyping Experiments Started:
                    </td>
                    <td>
                        {{phenotypingAttempt.phenotypingExperimentsStarted}}
                    </td>
                </tr>

                <tr>
                    <td>
                        phenotypingStarted:
                    </td>
                    <td>
                        <input type="checkbox" (change)="onPhenotypingStarted()"
                            [checked]="this.phenotypingAttempt.phenotypingStarted" [disabled]="!canUpdatePlan">
                    </td>
                </tr>

                <tr>
                    <td>
                        phenotypingComplete:
                    </td>
                    <td>
                        <input type="checkbox" (change)="onPhenotypingComplete()"
                            [checked]="this.phenotypingAttempt.phenotypingComplete" [disabled]="!canUpdatePlan">
                    </td>
                </tr>

                <tr>
                    <td>
                        doNotCountTowardsCompleteness:
                    </td>
                    <td>
                        <input type="checkbox" (change)="onNoCountTowardsCompleteness()"
                            [checked]="this.phenotypingAttempt.doNotCountTowardsCompleteness"
                            [disabled]="!canUpdatePlan">
                    </td>
                </tr>

            </table>

            <app-tissue-distribution-centre [phenotypingAttempt]="phenotypingAttempt" [canUpdatePlan]="canUpdatePlan">
            </app-tissue-distribution-centre>
        </mat-card-content>
    </mat-card>
</form>