<div class="card">
  <div class="card-body">
    <a [routerLink]="['history']">History</a>
    <div>
    <app-go-back></app-go-back></div>
    <div class="card-title"><u>Plan Details</u></div>
    <app-plan-details *ngIf="plan.planDetails.pin" [planDetails]="plan.planDetails"
      (modifiedPlanDetailsEmmiter)="onPlanDetailsChange($event)">
    </app-plan-details>
  </div>
</div>

<app-crispr-attempt *ngIf="plan.productionPlan.crisprAttempt"
  [attemptType]="plan.productionPlan.attemptType"
  [crisprAttempt]="plan.productionPlan.crisprAttempt"
  [canUpdatePlan]="canUpdatePlan"
  (modifiedAttemptEmmiter)="onAttemptChanged($event)">
</app-crispr-attempt>

<div class="card">
  <div class="card-body">
    <button [disabled]="!shouldShowUpdateButton()" *ngIf="canUpdatePlan" class="btn btn-primary" (click)="updatePlan()">Update</button>
  </div>
</div>