<mat-card>
    <mat-card-subtitle>Phenotyping Attempt Details</mat-card-subtitle>
    <mat-card-content>

        <div *ngIf="canUpdatePlan; then editable else readOnly"></div>

        <ng-template #editable>

            <div>
                <label for="phenotypingExternalRef">External Reference (Colony or Specimen id):</label>
                <mat-form-field id="phenotypingExternalRef">
                    <input matInput [(ngModel)]="phenotypingAttempt.phenotypingExternalRef">
                </mat-form-field>
            </div>

            <div>
                <label for="phenotypingBackgroundStrainName">Background Strain:</label>
                <div id="phenotypingBackgroundStrainName" class="content">
                    <mat-select [(value)]="phenotypingAttempt.phenotypingBackgroundStrainName">
                        <mat-option *ngFor="let backGroundStrain of backGroundStrains" [value]="backGroundStrain.name">
                            {{ backGroundStrain.name }}
                        </mat-option>
                    </mat-select>
                </div>
            </div>

        </ng-template>

        <ng-template #readOnly>

            <div>
                <label for="phenotypingExternalRef">External Reference (Colony or Specimen id):</label>
                <div id="phenotypingExternalRef" class="content">
                    {{ phenotypingAttempt.phenotypingExternalRef }}
                </div>
            </div>

            <div>
                <label for="phenotypingBackgroundStrainName">Background Strain:</label>
                <div id="phenotypingBackgroundStrainName" class="content">
                    {{ phenotypingAttempt.phenotypingBackgroundStrainName }}
                </div>
            </div>

        </ng-template>

        <fieldset class="content">
            <legend>Starting Point</legend>

            <label for="outcomeTpo">Outcome:</label>
            <div id="outcomeTpo" class="content">
                <div id="tpo"> <a target="_blank" routerLink="/outcomes/{{ plan.phenotypingStartingPoint.outcomeTpo }}">
                        {{ plan.phenotypingStartingPoint.outcomeTpo }}</a></div>
            </div>

            <label for="productionPlanPin">Production Plan:</label>
            <div id="productionPlanPin" class="content">
                <a target="_blank" routerLink="/plan/{{ plan.phenotypingStartingPoint.productionPlanPin }}">
                    {{ plan.phenotypingStartingPoint.productionPlanPin }}</a>
            </div>

        </fieldset>

    </mat-card-content>
</mat-card>