<mat-card appearance="outlined">
    <mat-card-subtitle>Phenotyping Attempt Details</mat-card-subtitle>
    <mat-card-content>

        <div *ngIf="canUpdatePlan; then editable else readOnly"></div>

        <ng-template #editable>

            <label for="phenotypingExternalRef">Phenotyping External Reference (Colony or Specimen id) *:</label>
            <mat-form-field appearance="fill" id="phenotypingExternalRef">
                <input matInput (keyup)="dataChanged($event)" [(ngModel)]="phenotypingAttempt.phenotypingExternalRef">
            </mat-form-field>
            <br>

            <label for="cohortProductionWorkUnitName">Cohort Production Work Unit Name:</label>
            <mat-form-field appearance="fill">
                <mat-select (selectionChange)="dataChanged($event)" [(value)]="phenotypingAttempt.cohortProductionWorkUnitName">
                    <mat-option></mat-option>
                    <mat-option *ngFor="let workUnit of workUnits" [value]="workUnit.name">
                        {{ workUnit.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br>

            <label for="phenotypingBackgroundStrainName">Background Strain *:</label>
            <mat-form-field appearance="fill">
                <mat-select (selectionChange)="dataChanged($event)" [(value)]="phenotypingAttempt.phenotypingBackgroundStrainName">
                    <mat-option></mat-option>
                    <mat-option *ngFor="let backGroundStrain of backGroundStrains" [value]="backGroundStrain.name">
                        {{ backGroundStrain.name }}
                    </mat-option>
                </mat-select> 
            </mat-form-field>
            <br>

            <label for="doNotCountTowardsCompleteness">Do not count towards completeness:</label>
            <mat-checkbox (change)="dataChanged($event)" [(ngModel)]="phenotypingAttempt.doNotCountTowardsCompleteness"
                    [ngModelOptions]="{standalone: true}"></mat-checkbox>
            <br>

        </ng-template>

        <ng-template #readOnly>
            <label for="phenotypingExternalRef">Phenotyping External Reference (Colony or Specimen id):</label>
            <mat-form-field appearance="fill">
                <input matInput readonly [(value)]="phenotypingAttempt.phenotypingExternalRef" />
            </mat-form-field>
            <br>

            <label for="cohortProductionWorkUnitName">Cohort Production Work Unit Name:</label>
            <mat-form-field appearance="fill">
                <input matInput readonly [(value)]="phenotypingAttempt.cohortProductionWorkUnitName" />
            </mat-form-field>
            <br>

            <label for="phenotypingBackgroundStrainName">Background Strain:</label>
            <mat-form-field appearance="fill">
                <input matInput readonly [(value)]="phenotypingAttempt.phenotypingBackgroundStrainName" />
            </mat-form-field>
            <br>

            <label for="doNotCountTowardsCompleteness">Do not count towards completeness:</label>
            <mat-checkbox [disabled]=true [(ngModel)]="phenotypingAttempt.doNotCountTowardsCompleteness"
                        [ngModelOptions]="{standalone: true}"></mat-checkbox>
            <br>
        </ng-template>
        <div class="separation"></div>
        
        <mat-card appearance="outlined">
            <mat-card-subtitle>Starting Point</mat-card-subtitle>
            <mat-card-content>
                <label class="startingPoint" for="outcomeTpo">Outcome:</label>
                <a target="_blank" routerLink="/projects/{{ plan.tpn }}/plans/{{ plan.phenotypingStartingPoint.productionPlanPin }}/outcomes/{{ plan.phenotypingStartingPoint.outcomeTpo }}">
                    {{ plan.phenotypingStartingPoint.outcomeTpo }}</a>
                <div class="separation"></div>

                <label class="startingPoint" for="productionPlanPin">Production Plan:</label>
                <a target="_blank" routerLink="/projects/{{ plan.tpn }}/production-plan/{{ plan.phenotypingStartingPoint.productionPlanPin }}">
                    {{ plan.phenotypingStartingPoint.productionPlanPin }}</a>
                <div class="separation"></div>
            </mat-card-content>
        </mat-card>

    </mat-card-content>
</mat-card>