<mat-card>
    <mat-card-subtitle>Phenotyping Stages</mat-card-subtitle>
    <mat-card-content>

        <mat-card *ngFor="let phenotypingStage of phenotypingStages">

            <label for="psn">Phenotyping Stage id:</label>
            <div id="psn" class="content">{{ phenotypingStage.psn}}</div>

            <label for="phenotypingTypeName">Type:</label>
            <div id="phenotypingTypeName" class="content">{{ phenotypingStage.phenotypingTypeName}}</div>

            <label for="statusName">Status:</label>
            <div id="statusName" class="content">{{ phenotypingStage.statusName }}</div>

            <a [routerLink]="['phenotyping-stage/', phenotypingStage.psn]">See
                Phenotyping Stage</a>

            <mat-card-content></mat-card-content>
        </mat-card>

        <!-- <div *ngIf="phenotypingStages">
            <div *ngFor="let phenotypingStage of phenotypingStages">
                {{ phenotypingStage.psn}}
            </div>
        </div> -->
        <a routerLink="/test"><button class="create-button" mat-raised-button color="primary" *ngIf="canUpdate">Add
                Phenotyping Stage</button></a>
    </mat-card-content>
</mat-card>