<mat-card>
    <mat-card-subtitle>Production outcomes</mat-card-subtitle>
    <mat-card-content>
        <div *ngIf="outcomes">
            <div *ngFor="let outcome of outcomes">
                <app-outcome-summary [outcome]="outcome" [canUpdate]="canUpdate"></app-outcome-summary>
            </div>
        </div>
        <div *ngIf="outcomes?.length === 1 && (attemptType === 'cre allele modification' || attemptType === 'es cell'); then NoAdd; else add"></div>
        <ng-template #NoAdd></ng-template>
        <ng-template #add>
            <a routerLink="/projects/{{ tpn }}/plans/{{ pin }}/outcome-creation"><button class="create-button"
                mat-raised-button color="primary" *ngIf="canUpdate">Add Outcome</button></a>
        </ng-template>
    </mat-card-content>
</mat-card>