<form [formGroup]="editCrisprAttempt">
  <mat-card>
    <mat-card-subtitle>Attempt Details</mat-card-subtitle>
    <mat-card-content>
      <table>
        <tr>
          <td>
            Attempt Type:
          </td>
          <td>
            {{attemptType}}
          </td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>

  <app-crispr-attempt-details [crisprAttempt]="crisprAttempt" [canUpdatePlan]="canUpdatePlan"
    (modifiedAttemptEmmiter)="onAttemptChangedByChildren($event)">
  </app-crispr-attempt-details>

  <app-mutagenesis-details [crisprAttempt]="crisprAttempt" [canUpdatePlan]="canUpdatePlan">
  </app-mutagenesis-details>

  <app-genotype-primers [crisprAttempt]="crisprAttempt" [canUpdatePlan]="canUpdatePlan">
  </app-genotype-primers>

  <mat-card>
    <mat-card-subtitle>Vector/Ologos (Mutagenesis Donors)</mat-card-subtitle>
    <table>
      <thead>
        <tr>
          <th scope="col">Concentration </th>
          <th scope="col">Sequence </th>
          <th scope="col">Preparation </th>
          <th scope="col"> </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let el of crisprAttempt.mutagenesisDonors">
          <td>{{el.concentration}}</td>
          <td>{{el.oligoSequence}}</td>
          <td>{{el.preparation}}</td>
          <td>
            <button class="btn btn-sm btn-outline-primary"
              (click)="openModalToDeleteMutagenesisDonor(el)">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
  </mat-card>
</form>