<div *ngIf="error" class="alert alert-danger">{{error}}</div>
<mat-card>
    <mat-card-title>
        Project Creation
    </mat-card-title>
    
    <mat-card>
        <mat-card-subtitle>Project Details</mat-card-subtitle>
        <mat-card-content>
            <div class="fieldsSectionProject">
                <app-project-consortium-institutes [project]="projectCreation" [canUpdate]="true"></app-project-consortium-institutes>

                <label for="privacy">Privacy *:</label>
                <mat-select class="content" [(ngModel)]="projectCreation.privacyName" [ngModelOptions]="{standalone: true}">
                    <mat-option *ngFor="let privacy of privacies" [value]="privacy.name">
                        {{ privacy.name }}
                    </mat-option>
                </mat-select>

                <label for="recovery">Recovery:</label>
                <mat-checkbox id="recovery" class="content"
                    [(ngModel)]="projectCreation.recovery" [ngModelOptions]="{standalone: true}">
                </mat-checkbox>

                <label for="projectComment">Project comment:</label>
                <mat-form-field id="projectComment"  class="content" >
                    <textarea matInput [(ngModel)]="projectCreation.comment" [ngModelOptions]="{standalone: true}"></textarea>
                </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card>

    <app-project-intention [projectCreation]="projectCreation"></app-project-intention>

    <mat-card>
        <mat-card-content>
            <div class="fieldsSectionSpecies">
                <label for="species">Species:</label>
                <mat-select class="content" [(ngModel)]="projectCreation.speciesNames" [ngModelOptions]="{standalone: true}" multiple>
                    <mat-option *ngFor="let species of allSpecies" [value]="species.name">
                        {{ species.name }}
                    </mat-option>
                </mat-select>
            </div>
        </mat-card-content>
    </mat-card>

    <app-plan-creation [projectCreation]="projectCreation"></app-plan-creation>

    <mat-card class="update-button">
        <mat-card-content >
            <button mat-raised-button color="primary" (click)="create()">Create Project</button>
            <mat-spinner style="margin:0 auto;" *ngIf="loading" matSuffix mode="indeterminate" diameter=20>
            </mat-spinner>
        </mat-card-content>
    </mat-card>
</mat-card>

