<mat-card>
        <mat-card-subtitle>Mutagenesis Details</mat-card-subtitle>
        <mat-card-content>
          <table>
            <tr>
              <td>
                Mutagenesis External Ref:
              </td>
              <td>
                {{ crisprAttempt.mutagenesis_external_ref }}
              </td>
            </tr>
            <tr>
              <td>
                Delivery Method:
              </td>
              <td>
                {{ crisprAttempt.delivery_type_method_name }}
              </td>
            </tr>
            <tr>
              <td>
                Voltage:
              </td>
              <td>
                {{ crisprAttempt.voltage }}
              </td>
            </tr>
            <tr>
              <td>
                Number of pulses:
              </td>
              <td>
                {{ crisprAttempt.number_of_pulses }}
              </td>
            </tr>
          </table>
        </mat-card-content>
      </mat-card>