<mat-card appearance="outlined">
    <mat-card-subtitle>Distribution Products</mat-card-subtitle>
    <mat-card-content>
        <table>
            <tr class="header">
                <th>Distribution Identifier</th>
                <th>Distribution Centre</th>
                <th>Product Type</th>
                <th>Distribution Network</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th></th>
            </tr>
            <ng-template ngFor let-distributionProduct [ngForOf]="dataSource">
                <div *ngIf="canUpdate; then editableRow else readOnlyRow">
                </div>
                <ng-template #editableRow>
                    <tr>
                      <td>
                        <mat-form-field appearance="fill" class="large">
                          <input matInput [(ngModel)]="distributionProduct.distributionIdentifier" [ngModelOptions]="{standalone: true}">
                        </mat-form-field>
                      </td>
                        <td>
                            <mat-form-field appearance="fill">
                                <mat-select class="select-content" [(ngModel)]="distributionProduct.distributionCentreName">
                                    <mat-option></mat-option>
                                    <mat-option *ngFor="let distributionCentresName of distributionCentresNames"
                                        [value]="distributionCentresName.name">
                                        {{ distributionCentresName.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field appearance="fill">
                                <mat-select class="select-content" [(ngModel)]="distributionProduct.productTypeName">
                                    <mat-option></mat-option>
                                    <mat-option *ngFor="let productTypesName of productTypesNames"
                                        [value]="productTypesName.name">
                                        {{ productTypesName.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field appearance="fill">
                                <mat-select class="select-content" [(ngModel)]="distributionProduct.distributionNetworkName">
                                    <mat-option></mat-option>
                                    <mat-option *ngFor="let distributionNetworkName of distributionNetworksNames"
                                        [value]="distributionNetworkName.name">
                                        {{ distributionNetworkName.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>

                        <td>
                            <mat-form-field appearance="fill">
                                <mat-label>Choose a date</mat-label>
                                <input matInput [matDatepicker]="startDate" [(ngModel)]="distributionProduct.startDate">
                                <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                                <mat-datepicker #startDate></mat-datepicker>
                            </mat-form-field>

                        </td>

                        <td>
                            <mat-form-field appearance="fill">
                                <mat-label>Choose a date</mat-label>
                                <input matInput [matDatepicker]="endDate" [(ngModel)]="distributionProduct.endDate">
                                <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                                <mat-datepicker #endDate></mat-datepicker>
                            </mat-form-field>
                        </td>

                        <td class="delete">
                            <button (click)="onClickToDeleteDistributionProduct(distributionProduct)">
                                <mat-icon aria-hidden="false" aria-label="icon">delete</mat-icon>
                            </button>
                        </td>

                    </tr>
                </ng-template>
                <ng-template #readOnlyRow>
                    <tr>
                        <td>
                          {{ distributionProduct.distributionIdentifier }}
                       </td>
                        <td>
                            {{ distributionProduct.distributionCentreName }}
                        </td>
                        <td>
                            {{ distributionProduct.productTypeName }}
                        </td>
                        <td>
                            {{ distributionProduct.distributionNetworkName }}
                        </td>
                        <td>
                            {{ distributionProduct.startDate }}
                        </td>
                        <td>
                            {{ distributionProduct.endDate }}
                        </td>
                    </tr>
                </ng-template>
            </ng-template>
            <tr>
                <td class="no_border"><button (click)="addDistributionProduct()" *ngIf="canUpdate">
                        <mat-icon aria-hidden="false" aria-label="add icon">add</mat-icon>
                    </button>
                </td>
            </tr>
        </table>
    </mat-card-content>

</mat-card>
