<mat-card>
  <mat-card-subtitle>Plan Details</mat-card-subtitle>
  <mat-card-content>
    <form [formGroup]="editPlanDetails" (ngSubmit)="onSubmit()">
      <table>
        <tr>
          <td>
            Plan id:
          </td>
          <td>
            {{plan.pin}}
          </td>
        </tr>
        <ng-template [ngIf]="plan.type_name === 'phenotyping'">
          <tr>
            <td>
              Production Plan reference:
            </td>
            <td>
              {{plan.productionPlanReference}}
            </td>
          </tr>
        </ng-template>

        <tr>
          <td>
            Privacy:
          </td>
          <div *ngIf="canUpdatePlan; then privacyEditable else privacyReadOnly"></div>
          <ng-template #privacyEditable>
            <td>
              <div class="form-group">
                <ng-multiselect-dropdown type="text" name="privacy" formControlName="privacy"
                  [ngClass]="{ 'is-invalid': submitted && f.privacy.errors }" [placeholder]="'--Select--'"
                  [data]="privacies" [settings]="dropdownSettingsSingle" (onSelect)="onItemSelect($event)">
                </ng-multiselect-dropdown>
              </div>
            </td>
          </ng-template>

          <ng-template #privacyReadOnly>
            <td>
              {{plan.privacy_name}}
            </td>
          </ng-template>
        </tr>
        <tr>
          <td>
            Status:
          </td>
          <td>
            {{plan.status_name}}
          </td>
        </tr>
        <tr>
          <td>
            Work Unit:
          </td>
          <td>
            {{plan.work_unit_name || 'Not defined' }}
          </td>
        </tr>
        <tr>
          <td>
            Work Group:
          </td>
          <td>
            {{plan.work_group_name || 'Not defined' }}
          </td>
        </tr>
        <tr>
          <td>
            Consortium:
          </td>
          <td>
            {{plan.consortium_name || 'Not defined' }}
          </td>
        </tr>
        <tr>
          <td>
            Funder:
          </td>
          <td>
            {{plan.funder_name || 'Not defined' }}
          </td>
        </tr>
        <tr>
            <td>
                Products available for general public?:
            </td>
            <td>
              <input type="checkbox" (change)="onActiveSelected()" [checked]="plan.products_available_for_general_public"
                [disabled]="!canUpdatePlan">
            </td>
          </tr>
        <tr>
          <td>
            Comment:
          </td>
          <div *ngIf="canUpdatePlan; then commentsEditable else commentsReadOnly"></div>
          <ng-template #commentsEditable>
            <td>
              <div class="form-group">
                <textarea type="text" formControlName="comments" class="form-control"
                  (change)="onTextCommentChanged($event)"></textarea>
              </div>
            </td>
          </ng-template>

          <ng-template #commentsReadOnly>
            <td>
              {{plan.comment}}
            </td>
          </ng-template>
        </tr>
      </table>
    </form>
  </mat-card-content>
</mat-card>