<mat-card>
    <mat-card-subtitle>Guides</mat-card-subtitle>

    <mat-card-content>
        <div *ngIf="canUpdatePlan && crisprAttempt.nucleases !== undefined">
            <div *ngIf="crisprAttempt.nucleases[0].typeName === 'Cas9'" id="guidesSearch">
                <div id="guidesSearchForm">
                    <form [formGroup]="getGuidesForm">
                        <mat-form-field appearance="fill" >
                            <input matInput placeholder="Search by gene symbol" aria-label="State" [matAutocomplete]="auto" [formControl]="searchGene" />
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                <ng-container *ngIf="!isLoading">
                                    <mat-option *ngFor="let gene of filteredGenes" [value]="gene.symbol" (onSelectionChange)="selectedGene(gene)">
                                        <span><b>{{ gene.symbol }}</b> ({{ gene.accId }})</span>
                                    </mat-option>
                                </ng-container>
                            </mat-autocomplete>
                        </mat-form-field>
                        <div *ngIf="error" class="error">{{ error }}</div>
                        <button mat-raised-button color="primary" (click)="findGuides();">Find cas9 guides</button>
                        <mat-option *ngIf="isLoadingExons" class="is-loading">Loading...</mat-option>
                    </form>
                </div>

                <br/>

                <div *ngIf="exons">
                    <div class="wge mat-elevation-z8">
                        <table mat-table [dataSource]="exons" class="wge_info">
                            <!-- Exon Id Column -->
                            <ng-container matColumnDef="exon_id" sticky>
                                <th mat-header-cell *matHeaderCellDef> Exons </th>
                                <td mat-cell *matCellDef="let element"> {{ element.exonId }} </td>
                            </ng-container>
                        
                            <tr mat-header-row *matHeaderRowDef="displayedExonColumns sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedExonColumns; let idx=index;"
                                class="element-row" 
                                [style.background-color]="highlightedRows.indexOf(row) !== -1 ? 'orange' : ''"
                                (click)="exonSelected(row, !row.rowClicked); highlightExon(row);"></tr>
                        </table>
                    </div>

                    <div *ngIf="guides" class="wge mat-elevation-z8">
                        <table mat-table [dataSource]="guides" class="wge_info">
                            <!-- Sequence Column -->
                            <ng-container matColumnDef="sequence" sticky>
                                <th mat-header-cell *matHeaderCellDef> Sequences </th>
                                <td mat-cell *matCellDef="let element"> 
                                    {{ element.sequence }} 
                                    <span *ngIf="element.reversed" style="font-size:8px;vertical-align:sub;">(reversed)</span>
                                </td>
                                </ng-container>
                        
                            <tr mat-header-row *matHeaderRowDef="displayedGuideColumns sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedGuideColumns;"
                                class="element-row" 
                                [style.background-color]="row.rowClicked ? 'orange' : ''"
                                (click)="sequenceSelected(row, !row.rowClicked); highlightSequence(row);"></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
    <br/>

    <mat-card-content>
        <div *ngIf="canUpdatePlan">
            Set individual Concentrations: <input type="checkbox"
                (change)="onSetIndividualConcentrationsClicked($event)"
                [checked]="!isConcentrationTheSameForAllGuides()">
        </div>
        <br/>

        <form [formGroup]="guidesForm">
            <div *ngIf="canUpdatePlan; then editable else readOnly"></div>
            <ng-template #editable>
                <div style="overflow-x:auto;" class="mat-elevation-z8">
                <table>
                    <tr>
                        <th>Sequence **</th>
                        <th>Guide Sequence **</th>
                        <th>PAM</th>
                        <th>Chr</th>
                        <th>Start *</th>
                        <th>Stop *</th>
                        <th>Strand</th>
                        <th>Genome Build ***</th>
                        <th>Format Name</th>
                        <th>Source Name</th>
                        <th>gRNA Concentration (ng/µl)</th>
                    </tr>
                    <ng-template ngFor let-guide let-isFirst="first" [ngForOf]="crisprAttempt.guides">
                        <tr>
                            <td style="width: 200px;">
                                <mat-form-field appearance="fill" style="width: 200px;">
                                    <textarea matInput [(ngModel)]="guide.sequence" [ngModelOptions]="{standalone: true}"
                                        oninput="this.value = this.value.toUpperCase()" trim></textarea>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field appearance="fill">
                                    <textarea matInput [(ngModel)]="guide.guideSequence" [ngModelOptions]="{standalone: true}"
                                        oninput="this.value = this.value.toUpperCase()" trim></textarea>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field appearance="fill" class="mediumShort">
                                    <input matInput [(ngModel)]="guide.pam" [ngModelOptions]="{standalone: true}" 
                                        oninput="this.value = this.value.toUpperCase()" trim>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field appearance="fill" class="mediumShort">
                                    <input matInput [(ngModel)]="guide.chr" [ngModelOptions]="{standalone: true}">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field appearance="fill" class="medium">
                                    <input matInput [(ngModel)]="guide.start" [ngModelOptions]="{standalone: true}">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field appearance="fill" class="medium">
                                    <input matInput [(ngModel)]="guide.stop" [ngModelOptions]="{standalone: true}">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field appearance="fill" class="mediumShort">
                                    <mat-select [(value)]="guide.strand">
                                        <mat-option></mat-option>
                                        <mat-option *ngFor="let strand of strands" [value]="strand">
                                            {{ strand }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field appearance="fill" class="large">
                                    <mat-select [(value)]="guide.genomeBuild">
                                        <mat-option></mat-option>
                                        <mat-option *ngFor="let genomeBuild of genomeBuilds" [value]="genomeBuild">
                                            {{ genomeBuild }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field appearance="fill" class="large">
                                    <mat-select [(value)]="guide.formatName">
                                        <mat-option></mat-option>
                                        <mat-option *ngFor="let format of formatNames" [value]="format.name">
                                            {{ format.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field appearance="fill" class="large">
                                    <mat-select [(value)]="guide.sourceName">
                                        <mat-option></mat-option>
                                        <mat-option *ngFor="let source of sourceNames" [value]="source.name">
                                            {{ source.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                        
                            <div *ngIf="sameConcentrationForAll; then sameConcentrationForAllTemplate else individualConcentrationTemplate "></div>
                            <ng-template #sameConcentrationForAllTemplate>
                                <td *ngIf="isFirst" [attr.rowspan]="this.crisprAttempt.guides.length">
                                    <mat-form-field appearance="fill" class="mediumShort">
                                        <input matInput formControlName="groupConcentration" (keyup)="onGroupConcentrationChanged()">
                                    </mat-form-field>
                                </td>
                            </ng-template>
                            <ng-template #individualConcentrationTemplate>
                                <td>
                                    <div [formGroup]="concentrationForm">
                                        <mat-form-field appearance="fill" class="mediumShort">
                                            <input matInput (keyup)="onIndividualConcentrationChanged(guide)"
                                                [(ngModel)]="guide.grnaConcentration" [ngModelOptions]="{standalone: true}">
                                        </mat-form-field>
                                    </div>
                                </td>
                            </ng-template>

                            <td *ngIf="canUpdatePlan">
                                <button class="iconbutton delete-button" mat-icon-button matTooltip="Click to Delete" 
                                    (click)="deleteRow(guide)">
                                    <mat-icon aria-label="Delete">delete</mat-icon>
                                </button>
                            </td>
                        </tr>
                    </ng-template>

                    <tr *ngIf="canUpdatePlan">
                        <td class="no_border">
                            <button (click)="addRow()" [disabled]="false">
                                <mat-icon aria-hidden="false" aria-label="add icon">add</mat-icon>
                            </button>
                            <span style="font-size: 10px; "> Add guides manually</span>
                            <br>
                        </td>
                    </tr>
                </table>
            </div>
                <br>
                <span style="font-size: 12px; ">** Please enter sequence in 5' to 3' orientation</span>
                <br>
                <span style="font-size: 12px; ">*** Guides in GRCm38 will be converted to GRCm39 if possible after saving your changes</span>
            </ng-template>

            <ng-template #readOnly>
                <table class="mat-elevation-z8">
                    <tr>
                        <th>Sequence</th>
                        <th>Guide Sequence</th>
                        <th>PAM</th>
                        <th>Coordinates</th>
                        <th>Strand</th>
                        <th>Genome Build</th>
                        <th>Format Name</th>
                        <th>Source Name</th>
                        <th>gRNA Concentration (ng/µl)</th>
                    </tr>
                    <ng-template ngFor let-guide let-isFirst="first" [ngForOf]="crisprAttempt.guides">
                        <tr>
                            <td>
                                {{ guide.sequence }}
                            </td>
                            <td>
                                {{ guide.guideSequence }}
                            </td>
                            <td>
                                {{ guide.pam }}
                            </td>
                            <td>
                                {{ guide.chr }}:{{ guide.start || "Not defined" }}-{{ guide.stop || "Not defined" }}
                            </td>
                            <td>
                                {{ guide.strand }}
                            </td>
                            <td>
                                {{ guide.genomeBuild }}
                            </td>
                            <td>
                                {{ guide.formatName }}
                            </td>
                            <td>
                                {{ guide.sourceName }}
                            </td>

                            <div *ngIf="sameConcentrationForAll; then sameConcentrationForAllTemplate else individualConcentrationTemplate "></div>
                            <ng-template #sameConcentrationForAllTemplate>
                                <td *ngIf="isFirst" [attr.rowspan]="this.crisprAttempt.guides.length">
                                    {{ guide.grnaConcentration ? guide.grnaConcentration || 'ng/µl' : ''}}
                                </td>
                            </ng-template>
                            <ng-template #individualConcentrationTemplate>
                                <td>
                                    {{ guide.grnaCncentration ? guide.grnaConcentration || 'ng/µl' : ''}}
                                </td>
                            </ng-template>
                        </tr>
                    </ng-template>
                </table>
            </ng-template>
        </form>
    </mat-card-content>
</mat-card>