<mat-card>
    <mat-card-subtitle>Guides</mat-card-subtitle>
    <mat-card-content>
        <div *ngIf="canUpdatePlan">
            Set individual Concentrations: <input type="checkbox"
                (change)="onSetIndividualConcentrationsClicked($event)"
                [checked]="!isConcentrationTheSameForAllGuides()">
        </div>
    </mat-card-content>
    <mat-card-content>
        <form [formGroup]="guidesForm">
            <table class="mat-elevation-z8">
                <tr>
                    <th>Sequence</th>
                    <th>Chr</th>
                    <th>Chr Start</th>
                    <th>Chr Stop</th>
                    <th>Truncated Guide</th>
                    <th>gRNA Concentration</th>
                </tr>
                <ng-template ngFor let-guide let-isFirst="first" [ngForOf]="crisprAttempt.guides_attributes">
                    <tr>
                        <td>
                            {{guide.sequence}}
                        </td>
                        <td>
                            {{guide.chr}}
                        </td>
                        <td>
                            {{guide.start || "Not defined"}}
                        </td>
                        <td>
                            {{guide.end || "Not defined"}}
                        </td>
                        <td>
                            {{guide.truncated_guide}}
                        </td>
                        <div
                            *ngIf="sameConcentrationForAll; then sameConcentrationForAllTemplate else individualConcentrationTemplate ">
                        </div>
                        <ng-template #sameConcentrationForAllTemplate>
                            <td *ngIf="isFirst" [attr.rowspan]="numOfRows">
                                <div *ngIf="canUpdatePlan; then concentrationEditable else concentrationReadOnly ">
                                </div>
                                <ng-template #concentrationEditable>
                                    <input type="text" formControlName="groupConcentration"
                                        (keyup)="onGroupConcentrationChanged()"> ng/uL
                                </ng-template>
                                <ng-template #concentrationReadOnly>
                                    {{ guide.grna_concentration ? guide.grna_concentration || 'ng/uL' : ''}}
                                </ng-template>
                            </td>
                        </ng-template>
                        <ng-template #individualConcentrationTemplate>
                            <td>
                                <div *ngIf="canUpdatePlan; then concentrationEditable else concentrationReadOnly">
                                </div>
                                <ng-template #concentrationEditable>
                                        <div [formGroup]="concentrationForm">
                                                <input (keyup)="onIndividualConcentrationChanged(guide)"
                                                [(ngModel)]="guide.grna_concentration" [ngModelOptions]="{standalone: true}">
                                             </div> 
                                </ng-template>
                                <ng-template #concentrationReadOnly>
                                    {{ guide.grna_concentration ? guide.grna_concentration || 'ng/uL' : ''}}
                                </ng-template>
                            </td>
                        </ng-template>
                    </tr>
                </ng-template>
            </table>
        </form>
    </mat-card-content>
</mat-card>
