table, th, tr, td {
  padding: 10px;
  text-align: left;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.12);
}
.short {
  max-width: 20px;
}
.mediumShort {
  max-width: 40px;
}
.medium {
  max-width: 90px;
}