<h2 mat-dialog-title>Sequence intention information</h2>

<mat-dialog-content class="mat-typography">
  <div *ngFor="let intentionBySequence of data.intentionsBySequence" class="sequenceIntentionSection">
    <mat-card>
      <app-sequence-intention-detail [intentionBySequence]=intentionBySequence></app-sequence-intention-detail>
    </mat-card>
    
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
</mat-dialog-actions>