<div class="col-md-12 container">
    <h3>Projects</h3>

    <br>

    <!-- <form action="/create_project">
        <button class="btn btn-primary" type="submit">Create new project</button>
    </form> -->
    
    <a routerLink="/create_project" class="btn btn-primary active" role="button" aria-pressed="true">Create new project</a>

    <br>
    <br>
      
    <table class="table">
        <thead>
            <th scope="col">Edit form</th>
            <th scope="col">Marker Symbol(s)</th>
            <th scope="col">Intention</th>
            <th scope="col">Plan type</th>
            <th scope="col">Work Group</th>
            <th scope="col">Work unit</th>
            <th scope="col">Status</th>
            <th scope="col">Priority</th>
            <th scope="col">Privacy</th>
        </thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th>
                <p-multiSelect [options]="planTypes" defaultLabel="All plan type"
                    (onChange)="filter($event.value, 'plan_type')"></p-multiSelect>
            </th>
            <th>
                <p-multiSelect [options]="workGroups" defaultLabel="All work groups"
                    (onChange)="filter($event.value, 'work_group')"></p-multiSelect>
            </th>
            <th>
                <p-multiSelect [options]="workUnits" defaultLabel="All work units"
                    (onChange)="filter($event.value, 'work_unit')"></p-multiSelect>
            </th>
            <th>
                <p-multiSelect [options]="statuses" defaultLabel="All statuses"
                    (onChange)="filter($event.value, 'status')"></p-multiSelect>
            </th>
            <th>
                <p-multiSelect [options]="priorities" defaultLabel="All priority"
                    (onChange)="filter($event.value, 'priority')"></p-multiSelect>
            </th>
            <th>
                <p-multiSelect [options]="privacies" defaultLabel="All privacy"
                    (onChange)="filter($event.value, 'privacy')"></p-multiSelect>
            </th>
        </tr>
        <tbody>
            <ng-template ngFor let-project
                [ngForOf]="projects | paginate: { id: 'server', itemsPerPage: page.size, currentPage: p, totalItems: page.totalElements }">
                <ng-template ngFor let-plan let-isFirst="first" [ngForOf]="project.planDetails">
                    <tr>
                        <td *ngIf="isFirst" [attr.rowspan]="project.planDetails.length"><a
                                routerLink="/projects/{{ project.projectDetails.tpn }}">{{ project.projectDetails.tpn }}</a></td>
                        <td *ngIf="isFirst" [attr.rowspan]="project.planDetails.length">
                            <ul>
                                <li *ngFor="let markerSymbol of project.projectDetails.markerSymbols">
                                    <span>
                                        <a href="{{ markerSymbol.mgiLink }}"
                                            target="_blank">{{markerSymbol.markerSymbol}}</a>
                                    </span>
                                </li>
                            </ul>
                        </td>
                        <td *ngIf="isFirst" [attr.rowspan]="project.planDetails.length">
                            <ul>
                                <li *ngFor="let intention of project.projectDetails.alleleIntentions">
                                    <span>
                                        {{intention}}
                                    </span>
                                </li>
                            </ul>
                        </td>
                        <td>{{ plan.planTypeName }}</td>
                        <td>{{ plan.workGroupName }}</td>
                        <td>{{ plan.workUnitName }}</td>
                        <td>{{ plan.statusName  }}</td>
                        <td>{{ project.projectDetails.priorityName }}</td>
                        <td>{{ plan.privacyName }}</td>
                    </tr>
                </ng-template>
                <!-- If no plan information at all, show at least the project information -->
                <ng-container *ngIf="project.planDetails.length == 0">
                    <tr>
                        <td><a routerLink="/projects/{{ project.projectDetails.tpn }}">Form...</a></td>
                        <td>
                            <ul>
                                <li *ngFor="let markerSymbol of project.projectDetails.markerSymbols">
                                    <span>
                                        <a href="{{ markerSymbol.mgiLink }}"
                                            target="_blank">{{markerSymbol.markerSymbol}}</a>
                                    </span>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li *ngFor="let intention of project.projectDetails.alleleIntentions">
                                    <span>
                                        {{intention}}
                                    </span>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </ng-container>
            </ng-template>
        </tbody>
    </table>
    <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
</div>