<div class="card">
    <div class="col-md-12 container">
        
    <app-go-back></app-go-back>
    
    <table matSort (matSortChange)="sortData($event)" class="table table-bordered table-sm tablename">
      <tr>
        <th rowspan="2">Id</th>
        <th rowspan="2">User</th>
        <th rowspan="2">Date</th>
        <th colspan="2">Action</th>
      </tr>
      <tr>
        <th>Property</th>
        <th>Change</th>
      </tr>
    
      <ng-template ngFor let-historyRecord [ngForOf]="sortedData">
        <ng-template ngFor let-change let-isFirst="first" [ngForOf]="historyRecord.changes">
          <tr>
            <td *ngIf="isFirst" [attr.rowspan]="historyRecord.changes.length">
              {{historyRecord.id}}
            </td>
            <td class="tablename" *ngIf="isFirst" [attr.rowspan]="historyRecord.changes.length">
              {{historyRecord.user}}
            </td>
            <td class="nowrap-text-style" *ngIf="isFirst" [attr.rowspan]="historyRecord.changes.length">
              {{historyRecord.date | date : 'medium'}}
            </td>
            <td>{{ change.property }}</td>
            <td>{{ change.oldValue }} => {{ change.newValue }} </td>
    
          </tr>
        </ng-template>
      </ng-template>
    
      <!-- <tr *ngFor="let historyRecord of sortedData">
        <td>{{historyRecord.id}}
        </td>
        <td>{{historyRecord.user}}</td>
        <td class="nowrap-text-style">{{historyRecord.date | date : 'medium'}}</td>
        <td class="wrap-text-style">{{historyRecord.action}} </td>
      </tr> -->
    </table>
    </div>
    </div>