<mat-card>
  <mat-card-content>
    <app-go-back></app-go-back>
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    <table>
      <tr>
        <th>Id</th>
        <th>User</th>
        <th>Date</th>
        <th>Action</th>
        <th>Property</th>
        <th>Change</th>
      </tr>
      <ng-template ngFor let-historyRecord [ngForOf]="sortedData">
        <ng-template *ngIf="historyRecord.details" ngFor let-change let-isFirst="first"
          [ngForOf]="historyRecord.details">
          <tr>
            <td *ngIf="isFirst" [attr.rowspan]="historyRecord.details.length">
              {{historyRecord.id}}
            </td>
            <td class="tablename" *ngIf="isFirst" [attr.rowspan]="historyRecord.details.length">
              {{historyRecord.user}}
            </td>
            <td class="nowrap-text-style" *ngIf="isFirst" [attr.rowspan]="historyRecord.details.length">
              {{historyRecord.date | date : 'medium'}}
            </td>
            <td class="tablename" *ngIf="isFirst" [attr.rowspan]="historyRecord.details.length">
              {{ historyRecord.comment }}
            </td>
            <td>{{ change.field }}</td>
            <td>{{ change.oldValue || 'null'}} => {{ change.newValue || 'null' }} </td>
          </tr>
        </ng-template>
      </ng-template>
    </table>

  </mat-card-content>
</mat-card>