.wrap-text-style{
    white-space: pre-wrap
}

.nowrap-text-style{
    white-space: nowrap
}

table.tablename td {font-size: 15px;}

table, th, td {
    padding: 10px;
    text-align: left;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0, 0, 0, 0.12);
  }
  th, td  {
      width:  10px;
  }

  .mat-column-to {
    flex: 0 0 35% !important;
    width: 35% !important;
  }

  .description {
    width: 25% 
  }