<div *ngIf="error" class="alert alert-danger">{{error}}</div>

<button *ngIf="currentConsortium" mat-button (click)="toogleShowFilters()">
  <mat-icon>filter_list</mat-icon> {{ filterVisible ? 'Hide Filters' : 'Show Filters' }}
</button>

<div class="all-wrap">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false && filterVisible">
      <app-filter-container [filters]="filters"></app-filter-container>
    </mat-sidenav>
    <mat-sidenav-content class="page-wrap">
      <mat-card>
        <mat-card-content>
          <h4>Gene List {{ currentConsortium ?  'for ' + currentConsortium : ''}} </h4>
          <app-consortium-selector (consortiumSelected)="onConsortiumSelected($event)"
            (updatePermissionSet)="onUpdatePermissionSet($event)">
          </app-consortium-selector>
        </mat-card-content>
      </mat-card>
      <mat-card *ngIf="currentConsortium">
        <mat-card-content>

          <app-list-controls [canUpdateList]="canUpdateList" [currentConsortium]="currentConsortium"
            (importFileSelected)="onImportFileSelected($event)" (editModeChanged)="onEditModeChanged($event)">
          </app-list-controls>

          <app-list-content #listContent [currentConsortium]="currentConsortium"
            [canUpdateList]="canUpdateList" [currentSelectedEditMode]="currentSelectedEditMode">
          </app-list-content>
        </mat-card-content>
      </mat-card>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>