<div *ngIf="error" class="alert alert-danger">{{error}}</div>

<button *ngIf="currentConsortium" mat-button (click)="toogleShowFilters()">
  <mat-icon>filter_list</mat-icon> {{ filterVisible ? 'Hide Filters' : 'Show Filters' }}
</button>

<div class="all-wrap">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false && filterVisible">
      <app-filter-container [filters]="filters"></app-filter-container>
    </mat-sidenav>
    <mat-sidenav-content class="page-wrap">
      <mat-card>
        <mat-card-content>
          <h4>Gene List {{ currentConsortium ?  'for ' + currentConsortium : ''}} </h4>
          <p>Please select the consortium for which you want to view/manage the gene list:</p>
          <mat-form-field *ngIf="user">
            <mat-label>Consortium</mat-label>
            <mat-select [(value)]="currentConsortium" (selectionChange)="onConsortiumChanged()">
              <mat-option *ngFor="let consortium of consortia" [value]="consortium.name" required>
                {{consortium.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
      <mat-card *ngIf="currentConsortium">
        <mat-card-content>

          <div id="changeEditMode">
              <mat-slide-toggle *ngIf="canUpdateList" (change)="changeViewMode($event)">
                <strong>Change to {{ newEditMode }} mode</strong>
              </mat-slide-toggle>
          </div>

          <div class="table-controllers" fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column" fxLayout.sm="column">
            <div>
              <button *ngIf="checkEditable()" mat-button (click)="openImportDialog()" color="accent">
                <mat-icon>cloud_upload_alt</mat-icon> Import CSV
              </button>
            </div>
            <div>
              <button mat-button (click)="downloadCsv('example.csv', 'no-data')" color="accent">
                <mat-icon>save_alt</mat-icon> Download as CSV
              </button>
            </div>
          </div>
          <mat-card>
            <mat-card-content>
              <table>
                <thead>
                  <tr>
                    <th rowspan="2">Gene(s)</th>
                    <th rowspan="2">Note</th>
                    <th colspan="3">Associated Projects</th>
                  </tr>
                  <tr>
                    <th>Project - Plan - Outcomes</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let element of dataSource">
                    <td class="geneSymbol">
                      <div *ngIf="checkEditable(); then editableGenes else readOnlyGenes">
                      </div>
                      <ng-template #editableGenes>
                        <app-autocomplete-gene-inputs [record]="element"></app-autocomplete-gene-inputs>
                      </ng-template>
                      <ng-template #readOnlyGenes>
                        {{ getGenesSymbols(element) }}
                      </ng-template>
                    </td>
                    <td>
                      <div *ngIf="checkEditable(); then editableNote else readOnlyNote">
                      </div>
                      <ng-template #editableNote>
                        <mat-form-field class="example-full-width">
                          <input (input)="noteChanged(element, $event.target.value)" matInput [(value)]="element.note">
                        </mat-form-field>
                      </ng-template>
                      <ng-template #readOnlyNote>
                        {{ element.note }}
                      </ng-template>
                    </td>
                    <td colspan="3">
                      <div *ngFor="let project of element.projects">
                        <div *ngIf="project">
                          <app-project-card [project]="project"></app-project-card>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="no_border">
                      <button mat-fab *ngIf="checkEditable()" (click)="addRow()" color="accent" class="add-button">
                        <mat-icon>add</mat-icon>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>

              <mat-paginator (page)="getPage(this.paginator.pageIndex)" [length]="page.totalElements"
                [pageSize]="page.size" [pageSizeOptions]="[10,20,50,100,200]" id="server"></mat-paginator>
            </mat-card-content>

            <mat-card-actions *ngIf="checkEditable()">
              <button [disabled]='!checkIfChanged()' (click)="updateLists()" mat-raised-button color="primary">Save
                Changes</button>
            </mat-card-actions>
          </mat-card>
        </mat-card-content>

      </mat-card>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>