<mat-card>
    <mat-card-title>
        Plan Creation
    </mat-card-title>
    <mat-card-content>
        <ng-container [formGroup]="planCreationForm">
            <table>
                <ng-container *ngIf="planCreation" >
                    <tr>
                        <td><label for="tpo">Project id:</label></td>
                        <td><a routerLink="/projects/{{ this.tpn }}">{{ this.tpn }}</a></td>
                    </tr>
                    <br>
                </ng-container>
                <tr>
                    <td><label for="planType">Plan Type *:</label></td>
                    <td>
                        <mat-form-field appearance="fill">
                            <input matInput *ngIf="!selectType"
                                (blur)="onTouched()" 
                                formControlName="typeName"
                                readonly />
                            <mat-select *ngIf="selectType"
                                (selectionChange)="onPlanTypeSelected($event)"
                                (blur)="onTouched()" 
                                formControlName="typeName"
                            >
                                <mat-option></mat-option>
                                <mat-option *ngFor="let planType of planTypes" [value]="planType.name">
                                    {{ planType.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>

                <tr>
                    <td><label for="attemtpType">Attempt Type *:</label></td>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-select id="attemtpType" 
                                (selectionChange)="onAttemptTypeSelected($event)"
                                (blur)="onTouched()" 
                                formControlName="attemptTypeName"
                            >
                                <mat-option></mat-option>
                                <mat-option *ngFor="let attemptType of filteredAttemptTypesByPlanType" [value]="attemptType.name">
                                    {{ attemptType.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>

                <!-- Starting Point section. Only available for phenotyping and cre allele modification plans -->
                <ng-container id="startingPoint" *ngIf="preSelectedPlanType === 'phenotyping' || preSelectedAttemptType === 'es cell allele modification'">
                    <tr>
                        <td><label for="startingPoint">Starting point (Outcome id) *:</label></td>
                        <td>
                            <mat-form-field appearance="fill">
                                <mat-select 
                                    (blur)="onTouched()" 
                                    (selectionChange)="onStartingPointChanged($event)" 
                                >
                                    <mat-option *ngFor="let startingPoint of startingPoints" [value]="startingPoint.tpo">
                                        {{ startingPoint.tpo + ' (' + startingPoint.externalReference + ')' }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                    </tr>
                </ng-container>

                <tr>
                    <td><label for="workUnit">Work Unit *:</label></td>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-select id="workUnit" 
                                (selectionChange)="onWorkUnitChanged($event)" 
                                (blur)="onTouched()" 
                                formControlName="workUnitName"
                            >
                                <mat-option></mat-option>
                                <mat-option *ngFor="let workUnit of workUnits" [value]="workUnit.name">
                                    {{ workUnit.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>

                <tr>
                    <td><label for="workGroup">Work Group *:</label></td>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-select id="workGroup"
                                (selectionChange)="onWorkGroupChanged($event)"
                                (blur)="onTouched()" 
                                formControlName="workGroupName"
                            >
                                <mat-option></mat-option>
                                <mat-option *ngFor="let workGroup of filteredWorkGroupsByWorkUnit" [value]="workGroup.name">
                                    {{ workGroup.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>

                <tr>
                    <td><label for="funders">Funders:</label></td>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-select multiple id="funderNames" (blur)="onTouched()" formControlName="funderNames">
                                <mat-option *ngFor="let funder of filteredFundersByWorkGroup" [value]="funder.name">
                                    {{ funder.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>

                <tr>
                    <td><label for="comment">Comment:</label></td>
                    <td>
                        <mat-form-field appearance="fill" id="comment" >
                            <textarea matInput 
                                (blur)="onTouched()" 
                                formControlName="comment"
                            >
                            </textarea>
                        </mat-form-field>
                    </td>
                </tr>

            </table>

            <div *ngIf="!projectCreation">
                <button mat-raised-button color="primary" (click)="create()">Create Plan</button>
                <br>
                <span style="font-size: 12px; ">* required fields</span>
                <mat-spinner style="margin:0 auto;" *ngIf="loading" matSuffix mode="indeterminate" diameter=20>
                </mat-spinner>
                <div class="separation"></div>
                <div *ngIf="error && !projectCreation" class="alert alert-danger">{{ error }}</div>
            </div>
        
        </ng-container>
    </mat-card-content>
</mat-card>