mat-card-title {
  font-size: large;
}

.fieldsSection {
  padding-top: 20px;
  line-height: 2;
  height: 350px;
}

label,
.label {
  clear: both;
  float: left;
  padding-bottom: 5px;
  width: 200px;
}
input,
select {
  float: left;
}
.content {
  width: 300px;
  float: left;
  padding-bottom: 5px;
}

.section {
  clear: both;
}

.update-button {
  /* clear: both; */
  height: 60px;
  clear: left;
  float: none;
}
