mat-select {
  border: none;
  border-radius: 0;
  background-color: transparent;
  padding: 0;
}

.separation {
  padding-top: 10px;
}

label {
  clear: both;
  float: left;
  padding-bottom: 5px;
  width: 100px;
}