mat-card-title {
  font-size: large;
}

.fieldsSection {
  padding-top: 20px;
  line-height: 2;
  height: 600px;
}

label,
.label {
  clear: both;
  float: left;
  padding-bottom: 5px;
  width: 200px;
}

input {
  float: left;
}

.section {
  clear: both;
}

.update-button {
  /* clear: both; */
  height: 80px;
  clear: left;
  float: none;
}
