<div *ngIf="error" class="alert alert-danger">{{error}}</div>
<mat-card>
    <a *ngIf="loggedUser.name !== 'anonymous'" routerLink="/create-project" class="btn btn-primary active"
        role="button" aria-pressed="true">Create new
        project</a>
</mat-card>

<div class="mat-elevation-z8">
    <div class="example-loading-shade" *ngIf="isLoading">
        <mat-spinner *ngIf="isLoading"></mat-spinner>
    </div>

    <div class="example-table-container">
        <table>
            <tr>
                <th>Project Id</th>
                <th>External Reference</th>
                <th>Marker Symbol(s)</th>
                <th>Intention</th>
                <th>Project Assignment</th>
                <th>Privacy</th>
                <th>Active/Inactive</th>
                <th>Consortia</th>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-form-field" style="width: 100px">
                        <input matInput type="text" placeholder="Type to filter" [(ngModel)]="tpnFilterInput"
                            (keyup)="filterWithTpn(tpnFilterInput)">
                        <button mat-button *ngIf="tpnFilterInput" matSuffix mat-icon-button aria-label="Clear"
                            (click)="cleanTpnlFilter()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-form-field" style="width: 100px">
                        <input matInput type="text" placeholder="Type to filter"
                            [(ngModel)]="externalReferenceFilterInput">
                        <button mat-button *ngIf="externalReferenceFilterInput" matSuffix mat-icon-button
                            aria-label="Clear" (click)="externalReferenceFilterInput=''">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-form-field" style="width: 100px">
                        <input matInput type="text" placeholder="Type to filter" [(ngModel)]="markerSymbolFilterInput"
                            (keyup)="filterWithMarkerSymbol(markerSymbolFilterInput)">
                        <button mat-button *ngIf="markerSymbolFilterInput" matSuffix mat-icon-button aria-label="Clear"
                            (click)="cleanMarkerSymbolFilter()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <mat-label>Select to filter</mat-label>
                        <mat-select multiple (selectionChange)="filterWithIntentions($event.value)">
                            <mat-option *ngFor="let intention of this.intentions" [value]="intention.name">
                                {{intention.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <mat-label>Select to filter</mat-label>
                        <mat-select multiple>
                            <mat-option *ngFor="let assignmentStatus of this.assignmentStatuses"
                                [value]="assignmentStatus">{{ assignmentStatus.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <mat-label>Select to filter</mat-label>
                        <mat-select multiple (selectionChange)="filterWithPrivacies($event.value)">
                            <mat-option *ngFor="let privacy of this.privacies" [value]="privacy.name">{{privacy.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>Active/Inactive</td>
                <td>Consortia</td>
            </tr>
            <ng-template ngFor let-project [ngForOf]="projects">
                <tr>
                    <td>
                        <a routerLink="/projects/{{ project.tpn }}">{{ project.tpn }}</a>
                    </td>
                    <td>
                        {{ project.external_reference }}
                    </td>
                    <td>
                        <div *ngFor="let gene of project.intentionByGeneAttributes">
                            <a href="" target="_blank">{{ gene.gene.symbol }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngFor="let intention of project.intentionByGeneAttributes">
                            {{ intention.alleleTypeName }}
                        </div>
                    </td>
                    <td>
                        {{ project.assignmentStatusName }}
                    </td>
                    <td>
                        {{ project.privacyName }}
                    </td>
                    <td>
                        {{ project.isActive ? 'Active' : 'Inactive' }}
                    </td>
                    <td>
                        <div *ngFor="let consortiumName of project.consortiaNames">
                            {{ consortiumName }}
                        </div>
                    </td>
                </tr>
            </ng-template>
        </table>
    </div>

    <mat-paginator (page)="getPage(this.paginator.pageIndex)" [length]="page.totalElements" [pageSize]="page.size"
        id="server"></mat-paginator>
</div>