.example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .example-table-container {
    position: relative;
    min-height: 400px;
    max-height: 950px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }

  table, th, tr, td {
    padding: 10px;
    text-align: left;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0, 0, 0, 0.12);
    background-color: #fafafa;
    background: white;
  }

  th {
    text-align: left;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
    font-weight: normal;
  }

  td {
    font-size: 14px;
  }
