<mat-card>
    <mat-card-content>
        <table>
            <div *ngIf="canUpdate; then colonyEditable else colonyReadOnly"></div>
            <ng-template #colonyEditable>
                <tr>
                    <td><label for="name">Name:</label></td>
                    <td>
                        <mat-form-field appearance="fill">
                            <input matInput [(ngModel)]="colony.name" [ngModelOptions]="{standalone: true}">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td><label for="genotypingComment">Genotyping comment:</label></td>
                    <td>
                        <mat-form-field appearance="fill">
                            <textarea matInput (keyup)="onCommentChanged($event)" [(ngModel)]="colony.genotypingComment"
                                [ngModelOptions]="{standalone: true}"></textarea>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td><label for="backgroundStrainName">Background Strain:</label></td>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-select class="select-content" [(value)]="colony.backgroundStrainName">
                                <mat-option></mat-option>
                                <mat-option *ngFor="let backGroundStrain of backGroundStrains" [value]="backGroundStrain.name">
                                    {{ backGroundStrain.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
            </ng-template>

            <ng-template #colonyReadOnly>
                <tr>
                    <td><label for="name">Name:</label></td>
                    <td>{{ colony.name }}</td>
                </tr>
                <tr>
                    <td><label for="genotypingComment">Genotyping comment:</label></td>
                    <td>{{ colony.genotypingComment }}</td>
                </tr>
                <tr>
                    <td><label for="backgroundStrainName">Background Strain:</label></td>
                    <td>{{ colony.backgroundStrainName }}</td>
                </tr>
            </ng-template>
        </table>
    </mat-card-content>
</mat-card>

<div class="section">
    <app-status-transition *ngIf="colony.statusTransition" [statusTransition]="colony.statusTransition"
        [canUpdate]="canUpdate">
    </app-status-transition>

    <app-status-date *ngIf="!isNew" [statusDates]="colony.statusDates" [title]='"Colony Status History"'></app-status-date>
</div>
