<form [formGroup]="colonyForm">

    <label for="name">Name:</label>
    <div id="name" class="content">{{ colony.name}}</div>

    <label for="genotypingComment">Genotyping comment:</label>
    <div id="genotypingComment" class="content">{{ colony.genotypingComment }}</div>

    <label for="backgroundStrainName">Background Strain:</label>
    <div id="backgroundStrainName" class="content">{{ colony.backgroundStrainName}}</div>

    <div class="section">
        <app-distribution-product-list [colony]="colony" [canUpdate]="canUpdate"></app-distribution-product-list>
    </div>

    <div class="section">
        <app-status-date [statusDates]="colony.statusDates" [title]='"Colony Status Stamps"'></app-status-date>
    </div>
</form>
