<form [formGroup]="geneSearchForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="geneSymbol">Gene symbol</label>
    <input type="text" formControlName="geneSymbol" class="form-control" />
  </div>

  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">Search</button>
    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
  </div>
  <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
</form>

<div class="col-md-6 col-md-offset-3">
  <table class="table table-striped">
      <thead>
          <th scope="col">Project</th>
          <th scope="col">Mouse Gene Symbol</th>
          <th scope="col">Human Gene Symbol(s)</th>
          <th scope="col">Plan ID</th>
          <th scope="col">Plan type</th>
          <th scope="col">Status</th>
          <th scope="col">Work unit</th>
          <th scope="col">Allele intention</th>
          <th scope="col">Privacy</th>
      </thead>
      <tbody>
          <tr *ngFor="let gene of genes"> <!--  -->
              <td><a href="">{{ gene.project }}</a></td>
              <td><a href="">{{ gene.mouseGeneSymbol }}</a></td> <!-- https://www.mousephenotype.org/data/search/gene?kw=${} -->
              <td>{{ gene.humanGeneSymbols }}</td>
              <td>{{ gene.planId }}</td>
              <td>{{ gene.planType }}</td>
              <td>{{ gene.status }}</td>
              <td>{{ gene.workUnit }}</td>
              <td>{{ gene.alleleIntention }}</td>
              <td>{{ gene.planPrivacy }}</td>
          </tr>
      </tbody>
  </table>
</div>