<mat-card>
  <mat-card-content>
    <mat-toolbar>
      <span>Creation of new account</span>
    </mat-toolbar>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="my-form">
     
  
      <mat-form-field class="full-width">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" name="fname" required>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Password" name="password" required>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" name="email" required>
      </mat-form-field>


      <div class="content" *ngFor="let workUnitRole of workUnitRoles">
    
          <mat-select placeholder="Work Unit" >
              <mat-option *ngFor="let workUnit of workUnits" [value]="workUnit.name" required>
                {{workUnit.name}}
              </mat-option>
            </mat-select>

            <mat-select placeholder="Role for work unit">
                <mat-option *ngFor="let workUnit of workUnitsNames" [value]="workUnit.name">
                  {{workUnit.name}}
                </mat-option>
              </mat-select>
           
      </div>

      <mat-form-field class="full-width">
        <mat-select placeholder="Work Unit">
          <mat-option *ngFor="let workUnit of workUnits" [value]="workUnit.name" required>
            {{workUnit.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-select placeholder="Role for work unit">
          <mat-option *ngFor="let workUnit of workUnitsNames" [value]="workUnit.name">
            {{workUnit.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-select placeholder="Institute">
          <mat-option *ngFor="let workUnit of workUnitsNames" [value]="workUnit.name">
            {{workUnit.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-select placeholder="Consortium">
          <mat-option *ngFor="let workUnit of workUnitsNames" [value]="workUnit.name">
            {{workUnit.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-select placeholder="Role for Institute-Consortium">
          <mat-option *ngFor="let workUnit of workUnitsNames" [value]="workUnit.name">
            {{workUnit.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-card-actions>
        <button mat-raised-button color="primary">Create</button>
      </mat-card-actions>


    </form>
  </mat-card-content>

</mat-card>

<div class="form-container">
  <mat-form-field>
    <input matInput placeholder="Name">
  </mat-form-field>

  <mat-form-field>
    <input type="password" matInput placeholder="Password">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Email">
  </mat-form-field>


  <mat-form-field>
    <mat-select placeholder="Work Unit">
      <mat-option *ngFor="let workUnit of workUnitsNames" [value]="workUnit.name">
        {{workUnit.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<h2>Sign up</h2>
<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" formControlName="name" class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.name.errors }" placeholder="Enter name" />
    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
      <div *ngIf="f.name.errors.required">Name is required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" formControlName="password" class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Enter password" />
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Password is required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" formControlName="email" class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Enter email" />
    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
      <div *ngIf="f.email.errors.required">Email is required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="workUnit">Work unit</label>
    <ng-multiselect-dropdown type="text" name="workUnit" formControlName="workUnit"
      [ngClass]="{ 'is-invalid': submitted && f.workUnit.errors }" [placeholder]="'--Select--'" [data]="workUnits"
      [settings]="dropdownSettingsWorkUnit"></ng-multiselect-dropdown>
    <div *ngIf="submitted && f.workUnit.errors" class="multiselect-dropdown-feedback-invalid">
      <div *ngIf="f.workUnit.errors.required">Work unit is required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="institute">Institute</label>
    <ng-multiselect-dropdown type="text" name="institute" formControlName="institute"
      [ngClass]="{ 'is-invalid': submitted && f.institute.errors }" [placeholder]="'--Select--'" [data]="institutes"
      [settings]="dropdownSettingsInstitute"></ng-multiselect-dropdown>
    <div *ngIf="submitted && f.institute.errors" class="multiselect-dropdown-feedback-invalid">
      <div *ngIf="f.institute.errors.required">Institute is required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="role">Role</label>
    <ng-multiselect-dropdown type="text" name="role" formControlName="role"
      [ngClass]="{ 'is-invalid': submitted && f.role.errors }" [placeholder]="'--Select--'" [data]="roles"
      [settings]="dropdownSettingsRole"></ng-multiselect-dropdown>
    <div *ngIf="submitted && f.role.errors" class="multiselect-dropdown-feedback-invalid">
      <div *ngIf="f.role.errors.required">Role is required</div>
    </div>
  </div>

  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">Sign up</button>
    <img *ngIf="loading"
      src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
  </div>
  <div *ngIf="error" class="alert alert-danger">{{error}}</div>
</form>