.form-container {
    display: flex;
    flex-direction: column;
  }
  
  .form-container > * {
    width: 100%;
  }

  .my-form{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
   
  .full-width {
    width: 100%;
  }