.example-container {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-container > * {
  padding-top: 1.5em;
}

.example-half-width {
  width: 50%;
}

.example-full-width {
  width: 100%;
}

#create-project-consortium-institutes {
  padding-right: 2em;
}

#create-project-textarea {
  height: 5em;
}

table {
  width: 200%;
}