<mat-vertical-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup" class="example-container">
      <ng-template matStepLabel>Fill out project details</ng-template>

      <div>
        <mat-form-field class="example-half-width" id="create-project-consortium-institutes">
          <mat-select matInput name="consortia" placeholder="Consortia">
            <mat-option *ngFor="let consortium of consortia" [value]="consortium">{{ consortium.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-half-width">
          <mat-select matInput name="institutes" placeholder="Institutes" multiple>
            <mat-option *ngFor="let insititute of institutes" [value]="institutes">{{ insititute.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="example-full-width">
          <mat-select matInput name="privacy" placeholder="Privacy" formControlName="privacy" required>
            <mat-option *ngFor="let privacy of privacies" [value]="privacies">{{ privacy.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Species involve</mat-label>
          <mat-select formControlName="species" required multiple>
            <mat-option *ngFor="let spec of species" [value]="species">{{ spec.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="example-full-width">
          <input formControlName="external_ref" matInput placeholder="External reference" />
        </mat-form-field>
      </div>

      <div>
        <mat-label>Intention definition: </mat-label>
        <mat-radio-group aria-label="Select type of intention" formControlName="intentionType" required>
          <mat-radio-button value="byGene" #byGene checked>By mouse gene</mat-radio-button>
          <mat-radio-button value="bySeqLoc" #bySeqLoc>By sequence / location</mat-radio-button>
        </mat-radio-group>
      </div>

      <div *ngIf="byGene.checked">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Search" aria-label="Gene" [matAutocomplete]="auto" formControlName="genesSelected" [formControl]="searchGenesCtrl">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
            <ng-container *ngIf="!isLoading">
              <mat-option *ngFor="let gene of filteredGenes" [value]="gene" (click)="addGene()">
                <span><b>{{ gene.symbol }}</b> ({{ gene.accId }})</span>
              </mat-option>
            </ng-container>
          </mat-autocomplete>
        </mat-form-field>
        <br>
        <div class="alert alert-danger" *ngIf="errorMsg">
          {{ errorMsg }}
        </div>
        <table mat-table [dataSource]="genesSelected" #genesSelectedTable class="my-table mat-elevation-z8">        
          <!-- Symbol Column -->
          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> Marker symbol </th>
            <td mat-cell *matCellDef="let element"> {{ element.symbol }} </td>
          </ng-container>
        
          <!-- MGI Column -->
          <ng-container matColumnDef="accId">
            <th mat-header-cell *matHeaderCellDef> MGI ID </th>
            <td mat-cell *matCellDef="let element"> {{ element.accId }} </td>
          </ng-container>

          <ng-container matColumnDef="molecularMutType">
            <th mat-header-cell *matHeaderCellDef> Molecular mutation type </th>
            <td mat-cell *matCellDef="let element"> 
              <mat-select multiple>
                <mat-option *ngFor="let type of molecularMutTypes" [value]="molecularMutTypes">{{ type.name }}</mat-option>
              </mat-select> 
            </td>
          </ng-container>

          <ng-container matColumnDef="alleleType">
            <th mat-header-cell *matHeaderCellDef> Allele type </th>
            <td mat-cell *matCellDef="let element"> 
              <mat-select multiple>
                <mat-option *ngFor="let type of alleleTypes" [value]="alleleTypes">{{ type.name }}</mat-option>
              </mat-select> 
            </td>
          </ng-container>

        
          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element" class="action-link"> 
              <a (click)="openDialogGenes('Delete', element)"><i class="material-icons alert-danger"> delete </i></a>  
            </td>
          </ng-container>
                    
          <tr mat-header-row *matHeaderRowDef="displayedColumnsGenes"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsGenes;"></tr>
        </table>
      </div>

      <div *ngIf="bySeqLoc.checked" class="container text-center">

        <button mat-button (click)="openDialog('Add',{})" mat-flat-button color="primary">Add Row</button>

        <table mat-table [dataSource]="dataSource" #SequencLocationTable class="my-table mat-elevation-z8">
        
          <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
        
          <!-- Id Column -->
          <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef> Index </th>
            <td mat-cell *matCellDef="let element"> {{ element.index }} </td>

          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element">
              <mat-form-field>
                <input type="string" placeholder="Name" matInput>
              </mat-form-field>
            </td>
          </ng-container>
        
          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element" class="action-link"> 
              <a (click)="openDialog('Delete', element)"><i class="material-icons alert-danger"> delete </i></a>  
            </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumnsSequenceLocation"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsSequenceLocation;"></tr>

          <!-- <ng-template #addRow>
            <ng-container matColumnDef="index">
              <input matInput placeholder="Index" [value]="seqLocSelected.index" [(ngModel)]="seqLocSelected.index">
            </ng-container>

            <ng-container matColumnDef="name">
              <input matInput placeholder="Name" [value]="seqLocSelected.name" [(ngModel)]="seqLocSelected.name">
            </ng-container>
          </ng-template> -->
        </table>

      </div>
      
      <div><mat-checkbox formControlName="withdrawn">Withdrawn</mat-checkbox></div>
      <div><mat-checkbox formControlName="recovery">Recovery</mat-checkbox></div>
      <div><mat-checkbox formControlName="is_active">Is active?</mat-checkbox></div>
      
      <div>
        <mat-form-field class="example-full-width">
          <textarea formControlName="comment" matInput placeholder="Comment" id="create-project-textarea" ></textarea>
        </mat-form-field>
      </div>
      
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out plan details</ng-template>
      <mat-form-field>
        <input matInput placeholder="Address" formControlName="secondCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-button (click)="onSubmit()">Submit</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
