<mat-vertical-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup" class="example-container">
      <ng-template matStepLabel>Fill out project details</ng-template>

      <div>
        <mat-form-field class="example-half-width" id="create-project-consortium-institutes">
          <mat-select matInput name="consortia" placeholder="Consortia" formControlName="consortia">
            <!-- <mat-option *ngFor="let consortium of consortia" [value]="consortium">{{ consortium.name }}</mat-option> -->
            <mat-option value="option">CMG</mat-option>
            <mat-option value="option">IDG</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-half-width">
          <mat-select matInput name="institutes" placeholder="Institutes" formControlName="institutes" multiple>
            <!-- <mat-option *ngFor="let insititute of institutes" [value]="institutes">{{ insititute.name }}</mat-option> -->
            <mat-option value="option">Yale</mat-option>
            <mat-option value="option">Broad</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="example-full-width">
          <mat-select matInput name="privacy" placeholder="Privacy" formControlName="privacy" required>
            <mat-option *ngFor="let privacy of privacies" [value]="privacies">{{ privacy.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Species involve</mat-label>
          <mat-select formControlName="species" required multiple>
            <mat-option *ngFor="let spec of species" [value]="species">{{ spec.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="example-full-width">
          <input formControlName="external_ref" matInput placeholder="External reference" />
        </mat-form-field>
      </div>

      <div>
        <mat-label>Intention definition: </mat-label>
        <mat-radio-group aria-label="Select type of intention" formControlName="intentionType" required>
          <mat-radio-button value="byGene" #byGene checked>By mouse gene</mat-radio-button>
          <mat-radio-button value="bySeqLoc" #bySeqLoc>By sequence / location</mat-radio-button>
        </mat-radio-group>
      </div>

      <div *ngIf="byGene.checked">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Search" aria-label="Gene" [matAutocomplete]="auto" formControlName="genesSelected" [formControl]="searchGenesCtrl">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
            <ng-container *ngIf="!isLoading">
              <mat-option *ngFor="let gene of filteredGenes" [value]="gene" (click)="addGene()">
                <span><b>{{ gene.symbol }}</b> ({{ gene.accId }})</span>
              </mat-option>
            </ng-container>
          </mat-autocomplete>
        </mat-form-field>
        <br>
        <ng-container *ngIf="errorMsg; else elseTemplate">
          {{errorMsg}}
        </ng-container>
        <ng-template #elseTemplate>
          <mat-list>
            <mat-list-item *ngFor="let gene of genesSelected">
              <mat-list-item>
                <b>{{ gene.symbol }}</b> ({{ gene.accId }})  
                <button (click)="deleteGene(gene)">
                  <mat-icon aria-hidden="false" aria-label="delete icon">delete</mat-icon>
                </button>
              </mat-list-item>
            </mat-list-item>
          </mat-list>
        </ng-template>
      </div>

      <div *ngIf="bySeqLoc.checked" class="container text-center">

        <button mat-button (click)="openDialog('Add',{})" mat-flat-button color="primary">Add Row</button>

        <table mat-table [dataSource]="dataSource" #mytable class="my-table mat-elevation-z8">
        
          <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
        
          <!-- Id Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
        
          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element" class="action-link"> 
              <a (click)="openDialog('Update',element)">Edit</a> | 
              <a (click)="openDialog('Delete',element)">Delete</a>  
            </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

      </div>
      
      <div><mat-checkbox formControlName="withdrawn">Withdrawn</mat-checkbox></div>
      <div><mat-checkbox formControlName="recovery">Recovery</mat-checkbox></div>
      <div><mat-checkbox formControlName="is_active">Is active?</mat-checkbox></div>
      
      <div>
        <mat-form-field class="example-full-width">
          <textarea formControlName="comment" matInput placeholder="Comment" id="create-project-textarea" ></textarea>
        </mat-form-field>
      </div>
      
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out plan details</ng-template>
      <mat-form-field>
        <input matInput placeholder="Address" formControlName="secondCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-button (click)="onSubmit()">Submit</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
