.name {
    font-weight: bold;
}
fieldset {
    font-size: 14px;
    border: 0;
    padding-inline-start: 0;
}
label {
    clear: both;
    float: left;
    padding-right: 10px;
    width: 100px;
}
input, select, content {
    float: left;
}
.content {
    width: 170px;
    float: left;
}