<mat-card>
    <mat-card-subtitle>Crispr Injection Details</mat-card-subtitle>
    <mat-card-content>

        <div *ngIf="canUpdatePlan; then editable else readOnly"></div>

        <ng-template #editable>

            <div class="editableSection">
                <label for="totalEmbryosInjected">Number of Embryos Injected:</label>
                <div id="totalEmbryosInjected" class="content">
                    <mat-form-field appearance="fill" class="example-full-width">
                        <input appDigitOnly matInput [(ngModel)]="crisprAttempt.totalEmbryosInjected">
                    </mat-form-field>
                </div>

                <label for="totalEmbryosSurvived">Number of Embryos Survived:</label>
                <div id="totalEmbryosSurvived" class="content">
                    <mat-form-field appearance="fill" class="example-full-width">
                        <input appDigitOnly matInput [(ngModel)]="crisprAttempt.totalEmbryosSurvived">
                    </mat-form-field>
                </div>

                <label for="embryo2Cell">Number of Embryos Survived to 2 cell stage (Leave blank if transfered on same
                    day):</label>
                <div id="embryo2Cell">
                    <mat-form-field appearance="fill" class="example-full-width">
                        <input appDigitOnly matInput [(ngModel)]="crisprAttempt.embryo2Cell">
                    </mat-form-field>
                </div>
            </div>

        </ng-template>

        <ng-template #readOnly>

            <div class="readOnlySection">
                <label for="totalEmbryosInjected">Number of Embryos Injected:</label>
                <div id="totalEmbryosInjected" class="content">
                    {{ crisprAttempt.totalEmbryosInjected }}
                </div>

                <label for="totalEmbryosSurvived">Number of Embryos Survived:</label>
                <div id="totalEmbryosSurvived" class="content">
                    {{ crisprAttempt.totalEmbryosSurvived }}
                </div>

                <label for="embryo2Cell">Number of Embryos Survived to 2 cell stage (Leave blank if transfered on same
                    day):</label>
                <div id="embryo2Cell">
                    {{ crisprAttempt.embryo2Cell }}
                </div>
            </div>

        </ng-template>

    </mat-card-content>
</mat-card>