<mat-card>
    <mat-card-subtitle>Intention(s)</mat-card-subtitle>
    <mat-card-content>
        <ng-container [formGroup]="projectIntentionsForm">
            <table class="mat-elevation-z8">
                <tr>
                    <th>Molecular mutation type *</th>
                    <th>Mutation categorization(s)</th>
                    <th>Gene symbol *</th>
                    <th></th>
                </tr>
                <tr formArrayName="intentions" *ngFor="let intention of projectIntentionsForm.get('intentions')['controls']; let i = index">
                    <ng-container [formGroupName]="i">
                        <td>
                            <mat-form-field appearance="fill">
                                <mat-select
                                    (blur)="onTouched()" 
                                    [id]="'molecularMutationType' + i"
                                    formControlName="molecularMutationType">
                                    <mat-option></mat-option>
                                    <mat-option *ngFor="let molecularMutationType of molecularMutationTypes" [value]="molecularMutationType.name">
                                        {{ molecularMutationType.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field appearance="fill">
                                <mat-select multiple
                                            (blur)="onTouched()" 
                                            [id]="'mutationCategorizations' + i"
                                            formControlName="mutationCategorizations">
                                    <mat-option></mat-option>
                                    <mat-option *ngFor="let mutationCategorization of allMutationCategorizations" [value]="mutationCategorization.name">
                                        {{ mutationCategorization.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field appearance="fill" class="content">
                                <input matInput 
                                    placeholder="" 
                                    aria-label="State" 
                                    [matAutocomplete]="auto" 
                                    [formControl]="searchGeneCtrl" 
                                    (blur)="onTouched()" 
                                    [id]="'geneSymbol' + i"
                                    (change)="geneSelected(i, $event.target.value)" />
                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                    <ng-container *ngIf="!isLoading" >
                                        <mat-option *ngFor="let gene of filteredGenes" [value]="gene.symbol">
                                            <span><b>{{ gene.symbol }}</b> ({{ gene.accId }})</span>
                                        </mat-option>
                                    </ng-container>
                                </mat-autocomplete>
                            </mat-form-field>
                        </td>
                        <td>
                            <button (click)="removeIntentioButtonClick(i)">
                                <mat-icon aria-hidden="false" aria-label="icon">delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                </tr>
                <tr>
                    <td class="no_border"><button (click)="addIntentioButtonClick()" [disabled]="false">
                        <mat-icon aria-hidden="false" aria-label="add icon">add</mat-icon>
                    </button>
                    </td>
                </tr>
            </table>
        </ng-container>
    </mat-card-content>
</mat-card>