<div *ngIf="error" class="alert alert-danger">{{error}}</div>
<mat-card>
  <mat-card-content>
    <a [routerLink]="['history']">History</a>
    <div>
      <app-go-back></app-go-back>
    </div>
  </mat-card-content>
</mat-card>

<app-plan-details *ngIf="plan.pin" [plan]="plan">
</app-plan-details>
<div class="section">
  <app-status-transition *ngIf="plan.statusTransition" [statusTransition]="plan.statusTransition"
    [canUpdate]="canUpdatePlan">
  </app-status-transition>
</div>

<app-outcome-list *ngIf="outcomes" [outcomes]=outcomes [canUpdate]="canUpdatePlan"></app-outcome-list>

<app-crispr-attempt *ngIf="plan.crisprAttempt" [crisprAttempt]="plan.crisprAttempt" [canUpdatePlan]="canUpdatePlan">
</app-crispr-attempt>

<mat-card>
  <mat-card-content>
    <button mat-raised-button color="primary" [disabled]="!enableUpdateButton()" *ngIf="canUpdatePlan"
      (click)="update()">Update</button>
  </mat-card-content>
</mat-card>