<div *ngIf="error" class="alert alert-danger">{{error}}</div>
<mat-card>
  <mat-card-content>
    <a [routerLink]="['history']">History</a>
    <div>
      <app-go-back></app-go-back>
    </div>
  </mat-card-content>
</mat-card>

<app-plan-details *ngIf="plan.pin" [plan]="plan">
</app-plan-details>

<div class="section">
  <app-status-transition *ngIf="plan.statusTransition" [statusTransition]="plan.statusTransition"
    [canUpdate]="canUpdatePlan">
  </app-status-transition>
  <app-status-date [statusDates]="plan.statusDates" [title]='"Plan Status History"'></app-status-date>
</div>

<app-outcome-list [outcomes]=outcomes [tpn]=project.tpn [pin]=plan.pin [canUpdate]="canUpdatePlan">
</app-outcome-list>

<app-crispr-attempt *ngIf="plan.attemptTypeName === 'crispr' || plan.attemptTypeName === 'haplo-essential crispr'"
  [crisprAttempt]="plan.crisprAttempt" [canUpdatePlan]="canUpdatePlan">
</app-crispr-attempt>

<mat-card>
  <mat-card-content class="update-button">
    <button mat-raised-button color="primary" [disabled]="!enableUpdateButton()" *ngIf="canUpdatePlan"
      (click)="update()">Update</button>
  </mat-card-content>
</mat-card>