<div *ngIf="error" class="alert alert-danger">{{error}}</div>
<mat-card>
  <mat-card-content>
    <a [routerLink]="['history']">History</a>
    <div>
      <app-go-back></app-go-back>
    </div>
  </mat-card-content>
</mat-card>

<app-plan-details *ngIf="plan.pin" [plan]="plan">
</app-plan-details>

<app-crispr-attempt *ngIf="plan.crispr_attempt_attributes" [crisprAttempt]="plan.crispr_attempt_attributes"
  [canUpdatePlan]="canUpdatePlan">
</app-crispr-attempt>

<mat-card>
  <mat-card-content>
    <button mat-raised-button color="primary" [disabled]="!planHasChanged()" *ngIf="canUpdatePlan"
      (click)="updatePlan()">Update</button>
  </mat-card-content>
</mat-card>