<mat-card>
    <mat-card-subtitle>Nucleases</mat-card-subtitle>
    <mat-card-content>
        <table class="mat-elevation-z8">
            <tr>
                <th>Type</th>
                <th>Class</th>
                <th>Concentration</th>
                <th></th>
            </tr>
            <ng-template ngFor let-nuclease [ngForOf]="dataSource">
                <div *ngIf="canUpdatePlan; then editableRow else readOnlyRow">
                </div>
                <ng-template #editableRow>
                    <tr>
                        <td>
                            <mat-select (selectionChange)="onNucleaseChanged(nuclease)" class="type"
                                [(value)]="nuclease.typeName">
                                <mat-option *ngFor="let nucleaseType of nucleaseTypes" [value]="nucleaseType.name">
                                    {{nucleaseType.name}}
                                </mat-option>
                            </mat-select>
                        </td>
                        <td>
                            <mat-select (selectionChange)="onNucleaseChanged(nuclease)" class="class"
                                [(value)]="nuclease.className">
                                <mat-option *ngFor="let nucleaseClase of nucleaseClases" [value]="nucleaseClase.name">
                                    {{nucleaseClase.name}}
                                </mat-option>
                            </mat-select>
                        </td>
                        <td>
                            <input appDigitOnly decimal="true" [ngClass]="{'required': concentration.invalid}" name="concentration"	
                            #concentration="ngModel" [(ngModel)]="nuclease.concentration"
                            (keyup)="onNucleaseChanged(nuclease)"
                             [ngModelOptions]="{standalone: true}">	
                        </td>
                        <td *ngIf="false">
                            <button (click)="onClickToDeleteElement(nuclease)">
                                <mat-icon aria-hidden="false" aria-label="icon">delete</mat-icon>
                            </button>
                        </td>

                    </tr>
                </ng-template>
                <ng-template #readOnlyRow>
                    <tr>
                        <td>
                            {{ nuclease.typeName || "Not defined" }}
                        </td>
                        <td>
                            {{ nuclease.className || "Not defined" }}
                        </td>
                        <td>
                            {{ nuclease.concentration || "Not defined" }}	
                          </td>

                    </tr>
                </ng-template>
            </ng-template>

        </table>

    </mat-card-content>
</mat-card>