<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Project {{project.projectDetails.tpn}}</li>
    </ol>
  </nav>


<h1>Project Summary {{project.projectDetails.tpn}}</h1>
<div class="card">
    <span class="card-title">Project Details</span>
  <div class="card-body">
    <table>
      <tr>
        <td>Marker Symbol(s)</td>
        <td>
          <div *ngFor="let markerSymbol of project.projectDetails.markerSymbols | keyvalue">
              <span class="badge badge-pill badge-primary">{{markerSymbol.key}}</span>
          </div>
        </td>
      </tr>
      <tr>
        <td>Assignment Status:</td>
        <td>{{project.projectDetails.assigmentStatusName}}</td>
      </tr>
      <tr>
        <td>Priority:</td>
        <td>{{project.projectDetails.priorityName}}</td>
      </tr>
      <tr>
          <td>Allele Intention(s)</td>
          <td>
            <div *ngFor="let alleleIntention of project.projectDetails.alleleIntentions">
                <span class="badge badge-pill badge-secondary">{{alleleIntention}}</span>
            </div>
          </td>
        </tr>
    </table>
  </div>
</div>
<hr>
<h3>Production Plans:</h3>
<app-production-plans [productionPlans]="project.productionPlans"></app-production-plans>
<hr>
<h3>Phenotype Plans:</h3>
<app-phenotype-plans [phenotypePlans]="project.phenotypePlans"></app-phenotype-plans>