<table matSort (matSortChange)="sortData($event)" class="table table-bordered table-sm">
  <tr>
    <!-- Sort disabled
    <th mat-sort-header="#">#</th>
    <th mat-sort-header="user">User</th>
    <th mat-sort-header="date">Date</th>
    <th>Action</th>
     -->
    <th>#</th>
    <th>User</th>
    <th>Date</th>
    <th>Action</th>
  </tr>

  <tr *ngFor="let historyEntry of sortedData">
    <td>{{historyEntry.id}}
    </td>
    <td>{{historyEntry.user}}</td>
    <td>{{historyEntry.date | date : 'medium'}}</td>
    <td class="wrap-text-style">{{historyEntry.action}} </td>
  </tr>
</table>