<div id="intentionsTitle"><label>Intentions:</label></div>
<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="50px" fxLayoutAlign="stretch" style="width: 100%;">
    <div *ngFor="let intentionByGene of project.intentionByGeneAttributes" fxFlex="0 1 calc(33.3% - 32px)"
        fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
        <mat-card>
            <app-intention-by-gene [intentionByGene]="intentionByGene"></app-intention-by-gene>
        </mat-card>
    </div>
    <div *ngFor="let intentionByLocation of project.intentionByLocationAttributes" fxFlex="0 1 calc(33.3% - 32px)"
        fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
        <mat-card>
            <app-intention-by-location [intentionByLocation]="intentionByLocation">
            </app-intention-by-location>
        </mat-card>
    </div>
</div>
