table, th, tr, td {
  padding: 10px;
  text-align: left;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.12);
}

.short {
  max-width: 30px;
}

.mediumShort {
  max-width: 60px;
}

.medium {
  max-width: 90px;
}

.large {
  max-width: 120px;
}

#guidesSearch {
  display: inline-block;
}

#guidesSearchForm {
	width:100%;
  display: inline-block;
}

.wge {
  overflow: auto;
  display: flex;
  flex-direction: column;
  max-height: 500px;
  float: left;
  margin-left: 10px;
  width: auto;
}

.element-row {
  position: relative;
  cursor: pointer;
}

.element-row:hover {
  background: #f5f5f5;
}

.error {
  color: #721c24;
}
