<mat-card>
    <mat-card-subtitle>Founder/G0 Litter Details</mat-card-subtitle>
    <mat-card-content>
        <div *ngIf="canUpdatePlan; then editable else readOnly"></div>
        <ng-template #editable>
            <label for="numFounderPups">Number of G0 Pups Born:</label>
            <mat-form-field appearance="fill" class="example-full-width">
                <input appDigitOnly matInput [(ngModel)]="crisprAttempt.assay.numFounderPups">
            </mat-form-field>
            <br>

            <label for="typeName">Assay Type Used:</label>
            <mat-form-field appearance="fill">
                <mat-select class="select-content" [(ngModel)]="crisprAttempt.assay.typeName">
                    <mat-option></mat-option>
                    <mat-option *ngFor="let assayType of assayTypes" [value]="assayType.name">
                        {{assayType.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br>

            <label for="founderNumAssays">Number of G0s Assayed:</label>
            <mat-form-field appearance="fill" class="example-full-width">
                <input appDigitOnly matInput [(ngModel)]="crisprAttempt.assay.founderNumAssays">
            </mat-form-field>
            <br>

            <table class="input_table">
                <thead>
                    <tr>
                        <th colspan="2">
                            G0 Assay Results (Leave fields blank if not tested in your G0 screen)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <td style="text-align: center; vertical-align: top;">
                        <div style="padding:30px 0px 0px 0px ; width:110px">
                            Assay results for GENE mutation
                        </div>
                    </td>
                    <td style="text-align: center; vertical-align: top;">
                        <label for="numG0WhereMutationDetected">Number of G0 with a Detected Mutation:</label>
                        <mat-form-field appearance="fill" class="example-full-width">
                            <input appDigitOnly matInput [(ngModel)]="crisprAttempt.assay.numG0WhereMutationDetected">
                        </mat-form-field>
                        <br>

                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>G0 Allele Screen Details</mat-panel-title>
                                </mat-expansion-panel-header>
                                <label for="numNhejG0Mutants">Number of G0 with NHEJ Mutation:</label>
                                <mat-form-field appearance="fill" class="example-full-width">
                                    <input appDigitOnly matInput [(ngModel)]="crisprAttempt.assay.numNhejG0Mutants">
                                </mat-form-field>
                                <br>

                                <label for="numDeletionG0Mutants">Number of G0 with Deletion Mutation:</label>
                                <mat-form-field appearance="fill" class="example-full-width">
                                    <input appDigitOnly matInput [(ngModel)]="crisprAttempt.assay.numDeletionG0Mutants">
                                </mat-form-field>
                                <br>

                                <label for="numHrG0Mutants">Number of G0 with HR Mutation:</label>
                                <mat-form-field appearance="fill" class="example-full-width">
                                    <input appDigitOnly matInput [(ngModel)]="crisprAttempt.assay.numHrG0Mutants">
                                </mat-form-field>
                                <br>

                                <label for="numHdrG0Mutants">Number of G0 with HDR Mutation:</label>
                                <mat-form-field appearance="fill" class="example-full-width">
                                    <input appDigitOnly matInput [(ngModel)]="crisprAttempt.assay.numHdrG0Mutants">
                                </mat-form-field>
                                <br>
                            </mat-expansion-panel>
                        </mat-accordion>

                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>G0 Donor Insertion Details</mat-panel-title>
                                </mat-expansion-panel-header>
                                <label for="numHdrG0MutantsAllDonorsInserted">Number of G0 with All Donors Inserted:</label>
                                <mat-form-field appearance="fill" class="example-full-width">
                                    <input appDigitOnly matInput
                                        [(ngModel)]="crisprAttempt.assay.numHdrG0MutantsAllDonorsInserted">
                                </mat-form-field>
                                <br>

                                <label for="numHdrG0MutantsSubsetDonorsInserted">Number of G0 with Subset of Donors Inserted:</label>
                                <mat-form-field appearance="fill" class="example-full-width">
                                    <input appDigitOnly matInput
                                        [(ngModel)]="crisprAttempt.assay.numHdrG0MutantsSubsetDonorsInserted">
                                </mat-form-field>
                                <br>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </td>
                </tbody>
            </table>
            <div class="separation"></div>

            <label for="numFounderSelectedForBreeding">Number of G0s Selected For Breeding:</label>
            <mat-form-field appearance="fill" class="example-full-width">
                <input appDigitOnly matInput [(ngModel)]="crisprAttempt.assay.numFounderSelectedForBreeding">
            </mat-form-field>
            <br>
        </ng-template>

        <ng-template #readOnly>
            <label for="numFounderPups">Number of G0 Pups Born:</label>
            <mat-form-field appearance="fill">
                <input matInput readonly [(value)]="crisprAttempt.assay.numFounderPups" />
            </mat-form-field>
            <br>

            <label for="typeName">Assay Type Used:</label>
            <mat-form-field appearance="fill">
                <input matInput readonly [(value)]="crisprAttempt.assay.typeName" />
            </mat-form-field>
            <br>

            <label for="founderNumAssays">Number of G0s Assayed:</label>
            <mat-form-field appearance="fill">
                <input matInput readonly [(value)]="crisprAttempt.assay.founderNumAssays" />
            </mat-form-field>
            <br>

            <table class="input_table">
                <thead>
                    <tr>
                        <th colspan="2">
                            G0 Assay Results (Leave fields blank if not tested in your G0 screen)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <td style="text-align: center; vertical-align: top;">
                        <div style="padding:30px 0px 0px 0px ; width:110px">
                            Assay results for GENE mutation
                        </div>
                    </td>
                    <td style="text-align: center; vertical-align: top;">
                        <label for="numG0WhereMutationDetected">Number of G0 with a Detected Mutation:</label>
                        <mat-form-field appearance="fill">
                            <input matInput readonly [(value)]="crisprAttempt.assay.numG0WhereMutationDetected" />
                        </mat-form-field>
                        <br>

                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>G0 Allele Screen Details</mat-panel-title>
                                </mat-expansion-panel-header>
                                <label for="numNhejG0Mutants">Number of G0 with NHEJ Mutation:</label>
                                <mat-form-field appearance="fill">
                                    <input matInput readonly [(value)]="crisprAttempt.assay.numNhejG0Mutants" />
                                </mat-form-field>
                                <br>

                                <label for="numDeletionG0Mutants">Number of G0 with Deletion Mutation:</label>
                                <mat-form-field appearance="fill">
                                    <input matInput readonly [(value)]="crisprAttempt.assay.numDeletionG0Mutants" />
                                </mat-form-field>
                                <br>

                                <label for="numHrG0Mutants">Number of G0 with HR Mutation:</label>
                                <mat-form-field appearance="fill">
                                    <input matInput readonly [(value)]="crisprAttempt.assay.numHrG0Mutants" />
                                </mat-form-field>
                                <br>

                                <label for="numHdrG0Mutants">Number of G0 with HDR Mutation:</label>
                                <mat-form-field appearance="fill">
                                    <input matInput readonly [(value)]="crisprAttempt.assay.numHdrG0Mutants" />
                                </mat-form-field>
                                <br>
                            </mat-expansion-panel>
                        </mat-accordion>

                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>G0 Donor Insertion Details</mat-panel-title>
                                </mat-expansion-panel-header>
                                <label for="numHdrG0MutantsAllDonorsInserted">Number of G0 with All Donors Inserted:</label>
                                <mat-form-field appearance="fill">
                                    <input matInput readonly [(value)]="crisprAttempt.assay.numHdrG0MutantsAllDonorsInserted" />
                                </mat-form-field>
                                <br>

                                <label for="numHdrG0MutantsSubsetDonorsInserted">Number of G0 with Subset of Donors Inserted:</label>
                                <mat-form-field appearance="fill">
                                    <input matInput readonly [(value)]="crisprAttempt.assay.numHdrG0MutantsSubsetDonorsInserted" />
                                </mat-form-field>
                                <br>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </td>
                </tbody>
            </table>
            <div class="separation"></div>

            <label for="numFounderSelectedForBreeding">Number of G0s Selected For Breeding:</label>
            <mat-form-field appearance="fill">
                <input matInput readonly [(value)]="crisprAttempt.assay.numFounderSelectedForBreeding" />
            </mat-form-field>
            <br>
        </ng-template>
    </mat-card-content>
</mat-card>
    