label {
  clear: both;
  float: left;
  padding-bottom: 5px;
  width: 200px;
}

table {
  border-collapse: collapse;
  width: 40%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ddd;
}

.separation {
  padding-top: 10px;
}
