table {
    font-size: 13px;
} 
.name {
    font-weight: bold;
}
fieldset {
    font-size: 14px;
    border: 0;
    padding-inline-start: 0.0em;
}
label {
    clear: both;
    float: left;
    width: 100px;
}
input, select, content {
    float: left;
}
.content {
    max-width: 50%;
    float: left;
}
