<mat-card>
  <mat-card-subtitle>Plan Details</mat-card-subtitle>
  <table>
    <tr>
      <td>
        Plan id:
      </td>
      <td>
        {{plan.pin}}
      </td>
    </tr>
    <tr>
      <td>
        Status:
      </td>
      <td>
        {{plan.statusName}}
      </td>
    </tr>
    <tr>
      <td>
        WorkUnit:
      </td>
      <td>
        {{plan.workUnitName || 'Not defined'}}
      </td>
    </tr>
  </table>
  <p>
    <a *ngIf="'production' === plan.typeName" [routerLink]="['production-plan', plan.pin]">See
      plan</a>

    <a *ngIf="'phenotyping' === plan.typeName" [routerLink]="['phenotyping-plan', plan.pin]">See
      plan</a>
  </p>
</mat-card>