<mat-card>
    <mat-card-subtitle>Status transition</mat-card-subtitle>
    <mat-card-content>
        <form [formGroup]="statusTransitionForm">
            <fieldset>
                <label for="currentStatus">Current Status:</label>
                <div id="currentStatus">{{ statusTransition.currentStatus }}</div>
                <div *ngIf="canUpdate">
                    <label for="transition">Transition:</label>
                    <div id="transition">
                        <mat-form-field class="content">
                            <mat-label>Select a transition to execute on update</mat-label>
                            <mat-select>
                                <mat-option (click)="onTransitionSelected(null)">None</mat-option>
                                <mat-option *ngFor="let transition of userTransitions"
                                    (click)="onTransitionSelected(transition)" [value]="transition.description">
                                    {{transition.description}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </fieldset>
            <fieldset *ngIf="selectedTransition">
                <label for="note">Note:</label>
                <div class="note">{{selectedTransition ?  selectedTransition.note : '' }}</div>
            </fieldset>
        </form>
    </mat-card-content>
</mat-card>
