<mat-card>
    <mat-card-subtitle>Status transition</mat-card-subtitle>
    <mat-card-content>
        <form [formGroup]="statusTransitionForm">
            <div *ngIf="canUpdate; then statusTransitionEditable else statusTransitionReadOnly"></div>
            <table>
                <ng-template #statusTransitionEditable>
                    <tr>
                        <td><label for="currentStatus">Current Status:</label></td>
                        <td>
                            <mat-form-field appearance="fill" id="currentStatus">
                                <input matInput [(ngModel)]="statusTransition.currentStatus" [ngModelOptions]="{standalone: true}" [readonly]="true" >   
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="transition">Next step:</label></td>
                        <td>
                            <mat-form-field appearance="fill" class="content">
                                <mat-select class="select-content" [(value)]="statusTransition.actionToExecute">
                                    <mat-option (click)="onTransitionSelected(null)"></mat-option>
                                    <mat-option *ngFor="let transition of userTransitions" [value]="transition.action" (click)="onTransitionSelected(transition)">
                                        {{ transition.nextStatus }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div *ngIf="transitionNote" class="note">
                                <tr>
                                    <td><label for="note">Note:</label></td>
                                    <td>{{ transitionNote }}</td>
                                </tr>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template #statusTransitionReadOnly>
                    <tr>
                        <td><label for="currentStatus">Current Status:</label></td>
                        <td>{{ statusTransition.currentStatus }}</td>
                    </tr>
                </ng-template>
            </table>        
        </form>
    </mat-card-content>
</mat-card>