label, .label {
    clear: both;
    float: left;
    padding-right: 5px;
    padding-bottom: 5px;
    width: 20%
}
input, select {
    float: left;
}
.content {
    width: 300px;
    float: left;
}
.note {
    width: 300px;
    float: left;
    font-size: 12px;
    padding-bottom: 5px;
    color: #f44336;
}
fieldset {
    border: 0;
    border-spacing: 10px;
}

