<h3>Filter</h3>
<div>Clear all
    <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearFilters()">
        <mat-icon>close</mat-icon>
    </button>
</div>
<form *ngIf="filters" [formGroup]="filterForm">
    <mat-expansion-panel class="sidenav-section" [expanded]="filter.expanded" *ngFor="let filter of filters">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <div [class.changed]="changed[filter.name]">{{ filter.title }} </div>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field appearance="fill" *ngIf="filter.type === FilterType.Text">
            <mat-label *ngIf="filter.label">
                {{ filter.label }}
            </mat-label>
            <input matInput placeholder="{{ filter.placeholder }}" formControlName="{{ filter.name }}">
        </mat-form-field>
        <mat-selection-list dense *ngIf="filter.type === FilterType.Checkboxes" formControlName="{{ filter.name }}">
            <mat-list-option *ngFor="let value of filter.dataSource" color="primary" [value]="value.name">
                {{ value.name }}
            </mat-list-option>
        </mat-selection-list>
    </mat-expansion-panel>
</form>