<mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>Canonical Targeted Exons</mat-panel-title>
    </mat-expansion-panel-header>

    <div *ngFor="let canonicalTargetedExon of mutation.canonicalTargetedExons">
      <div *ngIf="mutation.isMutationDeletionChecked || !canUpdate;  then readOnlyFields else editableFields"></div>

      <ng-template #readOnlyFields>
        <table class="mat-elevation-z2">
          <tbody>
          <td style="padding: 8px; font-size: 14px;">{{ canonicalTargetedExon.exonId }}</td>
          </tbody>
        </table>
        <br/>
      </ng-template>

      <ng-template #editableFields>
        <table >
          <tbody>
          <td style="font-size: 14px;" >
            <mat-form-field appearance="fill" style="width: 250px">
              <input matInput [(ngModel)]="canonicalTargetedExon.exonId" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          </td>
          </tbody>
        </table>
      </ng-template>

    </div>
  </mat-expansion-panel>
</mat-accordion>
<div class="separation"></div>
