<div class="col-md-6 col-md-offset-3">
    <h1>Plans</h1>
    <p><a [routerLink]="['/login']" (click)="logout()">Logout</a></p>

    <table class="table table-striped">
        <thead>
            <th scope="col">PIN</th>
            <th scope="col">TPN</th>
            <th scope="col">Marker Symbol</th>
            <th scope="col">Consortium</th>
            <th scope="col">Work unit</th>
            <th scope="col">Status</th>
            <th scope="col">Priority</th>
            <th scope="col">Privacy</th>
            <th scope="col">Plan type</th>
        </thead>
        <tbody>
            <tr *ngFor="let plan of plans | paginate: { id: 'server', itemsPerPage: page.size, currentPage: p, totalItems: page.totalElements }">
                <td>{{ plan.planDetails.pin}}</td>
                <td>
                    <a routerLink="/projects/{{ plan.projectDetails.tpn }}">{{ plan.projectDetails.tpn }}</a>
                </td>
                <td>
                    <ul>
                        <li *ngFor="let markerSymbol of plan.projectDetails.markerSymbols | keyvalue">
                            <span>
                                <a href="{{markerSymbol.value}}" target="_blank">{{markerSymbol.key}}</a>
                            </span>
                        </li>
                    </ul>
                </td>
                <td>{{ plan.planDetails.consortiumName }}</td>
                <td>{{ plan.planDetails.workUnitName }}</td>
                <td>{{ plan.planDetails.statusName  }}</td>
                <td>{{ plan.projectDetails.priorityName }}</td>
                <td>{{ plan.planDetails.privacyName }}</td>
                <td>{{ plan.planDetails.planTypeName }}</td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
</div>