.big-section {
  min-height: 900px;
}

label {
  clear: both;
  float: left;
  width: 300px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 25px;
}
input,
mat-select {
  width: 200px;
}
.content {
  float: none;
  margin-top: 5px;
  padding-top: 5px;
  margin-bottom: 5px;
}
.space {
  clear: both;
  float: left;
  padding-bottom: 20px;
}
.section {
  clear: both;
  float: left;
  width: 100%;
}

.small-section {
  max-height: 100px;
  clear: both;
  float: none;
}
