<div *ngIf="error" class="alert alert-danger">{{error}}</div>
<mat-card>
    <mat-card-content>
        <a [routerLink]="['history']">History</a>
        <div>
            <app-go-back></app-go-back>
        </div>
    </mat-card-content>
</mat-card>
<mat-card class="big-section">
    <mat-card-content>
        <form [formGroup]="phenotypingStageForm">

            <div *ngIf="!isNew">
                <label for="psn">Phenotyping Stage id:</label>
                <div id="psn" class="content">{{ phenotypingStage.psn }}</div>
            </div>

            <div *ngIf="canUpdate; then editable else readOnly"></div>

            <ng-template #editable>

                <div *ngIf="isNew; then editableType else readOnlyType"></div>

                <ng-template #editableType>
                    <div>
                        <label for="phenotypingTypeName">Type:</label>
                        <mat-select id="phenotypingTypeName" class="content"
                            [(ngModel)]="phenotypingStage.phenotypingTypeName" [ngModelOptions]="{standalone: true}">
                            <mat-option *ngFor="let phenotypingStagesType of phenotypingStagesTypes"
                                [value]="phenotypingStagesType.name">
                                {{phenotypingStagesType.name}}
                            </mat-option>
                        </mat-select>
                    </div>

                </ng-template>

                <ng-template #readOnlyType>
                    <label for="phenotypingTypeName">Type:</label>
                    <div id="phenotypingTypeName" class="content">{{ phenotypingStage.phenotypingTypeName}}</div>
                </ng-template>

                <div *ngIf="!isNew">
                    <label for="phenotypingExternalRef">External Reference (Colony or Specimen id):</label>
                    <div id="phenotypingExternalRef" class="content">{{ phenotypingStage.phenotypingExternalRef }}</div>
                </div>

                <label for="phenotypingExperimentsStarted">Phenotyping Experiments Started:</label>
                <div>
                    <mat-form-field id="phenotypingExperimentsStarted">
                        <input matInput [matDatepicker]="phenotypingExperimentsStarted"
                            [(ngModel)]="phenotypingStage.phenotypingExperimentsStarted"
                            [ngModelOptions]="{standalone: true}">
                        <mat-datepicker-toggle matSuffix [for]="phenotypingExperimentsStarted"></mat-datepicker-toggle>
                        <mat-datepicker #phenotypingExperimentsStarted></mat-datepicker>
                    </mat-form-field>
                </div>

                <label for="doNotCountTowardsCompleteness">Do not count towards completeness:</label>
                <div id="doNotCountTowardsCompleteness">
                    <mat-checkbox [(ngModel)]="phenotypingStage.doNotCountTowardsCompleteness"
                        [ngModelOptions]="{standalone: true}"></mat-checkbox>
                </div>

                <label for="initialDataReleaseDate">Initial Data Release date:</label>
                <div>
                    <mat-form-field id="initialDataReleaseDate">
                        <input matInput [matDatepicker]="initialDataReleaseDate"
                            [(ngModel)]="phenotypingStage.initialDataReleaseDate" [ngModelOptions]="{standalone: true}">
                        <mat-datepicker-toggle matSuffix [for]="initialDataReleaseDate"></mat-datepicker-toggle>
                        <mat-datepicker #initialDataReleaseDate></mat-datepicker>
                    </mat-form-field>
                </div>

            </ng-template>

            <ng-template #readOnly>

                <label for="phenotypingTypeName">Type:</label>
                <div id="phenotypingTypeName" class="content">{{ phenotypingStage.phenotypingTypeName}}</div>

                <label for="phenotypingExternalRef">External Reference (Colony or Specimen id):</label>
                <div id="phenotypingExternalRef" class="content">{{ phenotypingStage.phenotypingExternalRef }}</div>

                <label for="phenotypingExperimentsStarted">Phenotyping Experiments Started:</label>
                <div>
                    {{phenotypingStage.phenotypingExperimentsStarted}}
                </div>

                <label for="doNotCountTowardsCompleteness">Do not count towards completeness:</label>
                <div id="doNotCountTowardsCompleteness">
                    <mat-checkbox [disabled]=true [(ngModel)]="phenotypingStage.doNotCountTowardsCompleteness"
                        [ngModelOptions]="{standalone: true}"></mat-checkbox>
                </div>

                <label for="initialDataReleaseDate">Initial Data Release date:</label>
                <div>
                    {{phenotypingStage.initialDataReleaseDate}}
                </div>

            </ng-template>

        </form>
        <div class="space"></div>
        <div class="section">
            <div *ngIf="canUpdate; then statusTransition else status"></div>

            <ng-template #statusTransition>
                <app-status-transition *ngIf="phenotypingStage.statusTransition"
                    [statusTransition]="phenotypingStage.statusTransition" [canUpdate]="canUpdate">
                </app-status-transition>
            </ng-template>

            <ng-template #status>
                <label for="statusName">Current Status:</label>
                <div id="statusName" class="content">{{ phenotypingStage.statusName }}</div>
            </ng-template>

            <div class="section" *ngIf="!isNew">
                <app-status-date [statusDates]="phenotypingStage.statusDates"
                    [title]='"Phenotyping Stage Status History"'></app-status-date>
            </div>

        </div>
        <div class="space"></div>

        <div class="section">
            <app-tissue-distribution-centre [phenotypingStage]=phenotypingStage [canUpdatePlan]=canUpdate>
            </app-tissue-distribution-centre>
        </div>

    </mat-card-content>
</mat-card>

<mat-card class="small-section">
    <mat-card-content>
        <button mat-raised-button color="primary" [disabled]="!enableUpdateButton()" *ngIf="canUpdate"
            (click)="updateOrCreate()">{{ isNew ? 'Create' : 'Update' }}</button>
    </mat-card-content>
</mat-card>