<div *ngIf="error" class="alert alert-danger">{{error}}</div>
<mat-card>
    <mat-card-title>
        Profile details
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="formGroup">
            <div class="fieldsSection">
                <div>
                    <label for="email">Email:</label>
                    {{ loggedUser.email }}
                </div>
                <div>
                    <label for="contactable">Contactable:</label>
                    <div id="contactable">
                        <mat-checkbox [(ngModel)]="loggedUser.contactable" [ngModelOptions]="{standalone: true}">
                        </mat-checkbox>
                        <span class="note">by checking this box you agree to our <a
                                href="https://www.ebi.ac.uk/data-protection/privacy-notice/imits-mailservices"
                                target="_blank">Privacy Notice</a> </span>
                    </div>
                </div>

                <fieldset>
                    <legend> Work Units</legend>

                    <table mat-table [dataSource]="loggedUser.rolesWorkUnits" class="mat-elevation-z1">

                        <ng-container matColumnDef="Work Unit">
                            <th mat-header-cell *matHeaderCellDef> Work Unit </th>
                            <td mat-cell *matCellDef="let element"> {{element.workUnitName}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Role">
                            <th mat-header-cell *matHeaderCellDef> Role </th>
                            <td mat-cell *matCellDef="let element"> {{element.roleName}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumnsWorkUnitTable"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsWorkUnitTable;"></tr>
                    </table>

                </fieldset>

                <fieldset>
                    <legend> Consortia</legend>

                    <table mat-table [dataSource]="loggedUser.rolesConsortia" class="mat-elevation-z1">

                        <ng-container matColumnDef="Consortium">
                            <th mat-header-cell *matHeaderCellDef> Consortium </th>
                            <td mat-cell *matCellDef="let element"> {{element.consortiumName}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Role">
                            <th mat-header-cell *matHeaderCellDef> Role </th>
                            <td mat-cell *matCellDef="let element"> {{element.roleName}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumnsConsortiumTable"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsConsortiumTable;"></tr>
                    </table>

                </fieldset>

                <fieldset>
                    <legend> Change Password</legend>

                    <label for="currentPassword">Current Password:</label>
                    <input matInput class="content" [(ngModel)]="currentPassword" type="password" autocomplete="on"
                        [ngModelOptions]="{standalone: true}">

                    <label for="currentPassword">New Password:</label>
                    <input matInput class="content" [(ngModel)]="newPassword" type="password" autocomplete="on"
                        [ngModelOptions]="{standalone: true}">

                    <label for="currentPassword">Confirm New Password:</label>
                    <input matInput class="content" [(ngModel)]="newPasswordConfirmation" type="password"
                        autocomplete="on" [ngModelOptions]="{standalone: true}">

                </fieldset>
            </div>
        </form>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-content>
        <button mat-raised-button color="primary" [disabled]="!enableUpdateButton()"
            (click)="onUpdate()">Update</button>
            <mat-spinner style="margin:0 auto;" *ngIf="isLoading" matSuffix mode="indeterminate" diameter=20>
            </mat-spinner>
    </mat-card-content>
</mat-card>