<div *ngIf="error" class="alert alert-danger">{{ error }}</div>
<mat-card>
  <mat-card-content>
    <a [routerLink]="['history']">History</a>
    <div>
      <app-go-back></app-go-back>
    </div>
  </mat-card-content>
</mat-card>

<app-plan-details *ngIf="plan.pin" [canUpdatePlan]="canUpdatePlan" [plan]="plan">
</app-plan-details>

<div class="section">
  <app-status-transition *ngIf="plan.statusTransition" [statusTransition]="plan.statusTransition"
    [canUpdate]="canUpdatePlan">
  </app-status-transition>
  <app-status-date [statusDates]="plan.statusDates" [title]='"Plan Status History"'></app-status-date>
</div>

<app-phenotyping-attempt *ngIf="plan.phenotypingAttemptResponse" [plan]=plan [phenotypingAttempt]="plan.phenotypingAttemptResponse"
  [canUpdatePlan]="canUpdatePlan">
</app-phenotyping-attempt>

<mat-card>
  <mat-card-content>
    <button mat-raised-button color="primary" [disabled]="!shouldShowUpdateButton()" *ngIf="canUpdatePlan"
      (click)="updatePlan()">Update</button>
    <br>
    <span style="font-size: 12px; ">* required fields</span>
  </mat-card-content>
</mat-card>
