fieldset {
  font-size: 14px;
  border: 0;
  border-spacing: 10px;
}

label {
  clear: both;
  float: left;
  padding-bottom: 5px;
  width: 200px;
}

mat-table {
  display: inline-block;
}

.mat-cell {
  padding: 15px 15px 1px 0;
}

.section {
  clear: both;
  float: left;
}

.separation {
  padding-top: 10px;
}