<div *ngIf="error" class="alert alert-danger">{{error}}</div>
<mat-card>
    <mat-card-content>
        <a [routerLink]="['history']">History</a>
        <div>
            <app-go-back></app-go-back>
        </div>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-content>
        <form [formGroup]="outcomeForm">
            <fieldset>
                <label for="tpo">Outcome id:</label>
                <div id="tpo">{{ outcome.tpo }}</div>

                <label for="outcomeTypeName">Type:</label>
                <div id="outcomeTypeName" class="content">{{ outcome.outcomeTypeName}}</div>

                <div *ngIf="outcome.colony" class="section">
                    <app-colony-detail [colony]="outcome.colony" [canUpdate]="canUpdate"></app-colony-detail>
                </div>

                <label for="mutations">Mutations:</label>
                <div id="mutations" *ngIf="this.outcome.mutations">
                    <app-mutation-detail [canUpdate]="canUpdate" *ngFor="let mutation of this.outcome.mutations"
                        [mutation]="mutation" (mutationDeleted)="onMutationDeleted($event)"
                        class="section">
                    </app-mutation-detail>
                    <button class="create-button" mat-raised-button (click)="createMutation()" color="primary"
                        *ngIf="canUpdate">Add Mutation</button>
                </div>

            </fieldset>
        </form>
    </mat-card-content>
</mat-card>

<div *ngIf="outcome.colony">
    <div id="distributionProducts">
        <app-distribution-product-list class="distributionProductsSection" [colony]="outcome.colony"
            [canUpdate]="canUpdate">
        </app-distribution-product-list>
    </div>
</div>

<mat-card>
    <mat-card-content>
        <button mat-raised-button color="primary" [disabled]="!enableUpdateButton()" *ngIf="canUpdate"
            (click)="update()">Update</button>
    </mat-card-content>
</mat-card>