<mat-card>
    <mat-card-content>
        <a [routerLink]="['history']">History</a>
        <div>
            <app-go-back></app-go-back>
        </div>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-subtitle>Outcome Details</mat-card-subtitle>
    <mat-card-content>
        <label for="pin">Plan Id:</label>
        <a routerLink="/projects/{{ tpn }}/production-plan/{{pin}}">{{ pin }}</a>
        <div class="separation"></div>

        <div *ngIf="!isOutcomeBeingCreated">
            <label for="tpo">Outcome id:</label>
            {{ outcome.tpo }}
        </div>
        <div class="separation"></div>

        <div *ngIf="canUpdate && isOutcomeBeingCreated; then outcomeEditable else outcomeReadOnly"></div>
        <ng-template #outcomeEditable>
            <label for="outcomeTypeName">Type:</label>
            <mat-form-field appearance="fill">
                <mat-select (selectionChange)="onTypeSelected($event)" class="select-content"
                    [(ngModel)]="outcome.outcomeTypeName" [ngModelOptions]="{standalone: true}">
                    <mat-option></mat-option>
                    <mat-option *ngFor="let outcomeType of outcomeTypes" [value]="outcomeType.name">
                        {{ outcomeType.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div class="separation"></div>
        </ng-template>

        <ng-template #outcomeReadOnly>
            <label for="outcomeTypeName">Type:</label>
            {{ outcome.outcomeTypeName }}
            <div class="separation"></div>
        </ng-template>
    </mat-card-content>
</mat-card>

<div *ngIf="outcome.colony">
    <app-colony-detail [colony]="outcome.colony" [isNew]="isOutcomeBeingCreated" [canUpdate]="canUpdate"></app-colony-detail>
</div>

<div *ngIf="this.outcome.outcomeTypeName">
    <div id="mutations">
        <mat-card>
            <mat-card-content>
                <table class="input_table">
                    <thead>
                        <tr>
                            <th colspan="2">Mutations</th>
                        </tr>
                    </thead>
                    <tbody>
                        <app-mutation-detail [canUpdate]="canUpdate" [attemptType]="attemptType" *ngFor="let mutation of this.outcome.mutations"
                            [outcome]="outcome" [mutation]="mutation" (mutationDeleted)="onMutationDeleted($event)" class="section">
                        </app-mutation-detail>
                        <tr *ngIf="canUpdate">
                            <td>
                                <button class="create-button" mat-raised-button (click)="onAddMutation()" color="primary" type="button"
                                   >Add Mutation</button>

                              <button *ngIf="showDeleteButton" class="create-button" style="margin-left: 20px" mat-raised-button (click)="onMutationDeleted($event)" color="" type="button"
                              >Delete Empty Mutations</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="separation"></div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div *ngIf="outcome.colony">
    <app-distribution-product-list class="distributionProductsSection" [colony]="outcome.colony"
        [canUpdate]="canUpdate">
    </app-distribution-product-list>
</div>

<mat-card *ngIf="canUpdate">
    <mat-card-content>
        <button mat-raised-button color="primary" [disabled]="!enableUpdateButton()"
            (click)="updateOrCreate()">{{ isOutcomeBeingCreated ? 'Create' : 'Update' }}</button>
        <br>
        <span style="font-size: 12px; ">* required fields</span>
        <div class="separation"></div>
        <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
    </mat-card-content>
</mat-card>
