<div class="col-md-8 offset-sm-1">
  <form [formGroup]="createProjectForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="workUnit">Work Unit </label><br>
      {{ workUnit }}
    </div>

    <div class="form-group">
      <label for="workGroups">Work Group</label><br>
      **User work group based on his work unit.**
      <ng-multiselect-dropdown type="text" name="workGroup" formControlName="workGroup" [ngClass]="{ 'is-invalid': submitted && f.workGroup.errors }" [placeholder]="'--Select--'" [data]="workGroups" [settings]="dropdownSettingsSingle" ></ng-multiselect-dropdown>
    </div>

    <div class="form-group">
      <label for="priority">Priority </label>
      <ng-multiselect-dropdown type="text" name="priority" formControlName="priority" [ngClass]="{ 'is-invalid': submitted && f.priority.errors }" [placeholder]="'--Select--'" [data]="priorities" [settings]="dropdownSettingsSingle" ></ng-multiselect-dropdown>
    </div>

    <div class="form-group">
      <label for="projectLocation">Project target location/gene(s) </label><br>

      <p>Species</p>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="specie" value="mouse" id="mouseCheck" (change)="specieCheck($event)" checked>
        <label class="form-check-label" for="mouseCheck">
          Mouse
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="specie" value="human" id="humanCheck" (change)="specieCheck($event)">
        <label class="form-check-label" for="humanCheck">
          Human
        </label>
      </div>
      <br>

      <div class="ng-autocomplete">
        <ng-autocomplete 
          [data]="genes"
          [searchKeyword]="keyword"
          [isLoading]="isLoading"
          [placeHolder]="placeHolder"
          (selected)='selectEvent($event)'
          (inputChanged)='onChangeSearch($event)'
          (inputFocused)='onFocused($event)'
          [itemTemplate]="itemTemplate"
          [notFoundTemplate]="notFoundTemplate">                                 
        </ng-autocomplete>
        
        <ng-template #itemTemplate let-gene>
          <a [innerHTML]="gene.symbol"></a>
        </ng-template>
        
        <ng-template #notFoundTemplate let-notFound>
          <div [innerHTML]="notFound"></div>
        </ng-template>
      </div>

      <a class="badge badge-primary" (click)="addGene($event)">Add</a>

      <table *ngIf="showGeneTable">
        <thead>
          <th scope="col">Specie</th>
          <th scope="col">Gene Symbol</th>
          <th scope="col">Gene id</th>
          <th scope="col">Sequence</th>
        </thead>
        <tbody>

          
        </tbody>

      </table>





















    </div>

    <div class="form-group">
      <label for="projectIntention">Project intention(s) </label>
      <ng-multiselect-dropdown type="text" name="projectIntention" formControlName="priority" [ngClass]="{ 'is-invalid': submitted && f.projectIntention.errors }" [placeholder]="'--Select--'" [data]="projectIntentions" [settings]="dropdownSettingsMultiple" ></ng-multiselect-dropdown>
    </div>
    
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-success">Create</button>
      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    </div>
    <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
  </form>
</div>








