<mat-card>
    <mat-card-subtitle>Tissue Distribution Centre</mat-card-subtitle>
    <mat-card-content>
        <table class="mat-elevation-z8 mat-table">
            <tr class="mat-header-row">
                <th class="mat-header-cell mat-column-start_date">Start Date</th>
                <th class="mat-header-cell mat-column-end_date">End Date</th>
                <th class="mat-header-cell mat-column-work_unit_name">Work Unit</th>
                <th class="mat-header-cell mat-column-material_type_name">Material Type</th>
                <th class="mat-header-cell mat-column-action">Action</th>
            </tr>
            <ng-template ngFor let-element [ngForOf]="phenotypingAttempt.tissue_distribution_centre_attributes">
                <tr class="mat-row ng-star-inserted">
                    <div *ngIf="canUpdatePlan; then editableFields else readOnlyFields"></div>
                    <ng-template #editableFields>
                        <td class="mat-cell">
                            <mat-form-field>
                                <input matInput [matDatepicker]="datePickerStartDate" [(ngModel)]="element.start_date"
                                    [ngModelOptions]="{standalone: true}" (dateChange)="onDateChanged()">
                                <mat-datepicker-toggle matSuffix [for]="datePickerStartDate"></mat-datepicker-toggle>
                                <mat-datepicker #datePickerStartDate></mat-datepicker>
                            </mat-form-field>
                        </td>

                        <td class="mat-cell">
                            <mat-form-field>
                                <input matInput [matDatepicker]="datePickerEndDate" [(ngModel)]="element.end_date"
                                    [ngModelOptions]="{standalone: true}" (dateChange)="onDateChanged()">
                                <mat-datepicker-toggle matSuffix [for]="datePickerEndDate"></mat-datepicker-toggle>
                                <mat-datepicker #datePickerEndDate></mat-datepicker>
                            </mat-form-field>
                        </td>

                        <td class="mat-cell">
                            <mat-form-field>
                                <mat-select value={{element.work_unit_name}}>
                                    <mat-option *ngFor="let workUnit of workUnits" [value]="workUnit">
                                        {{ workUnit }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>

                        <td class="mat-cell">
                            <mat-form-field>
                                <mat-select value={{element.material_type_name}}>
                                    <mat-option *ngFor="let materialType of materialTypes" [value]="materialType">
                                        {{materialType}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <button (click)="onClickToDeleteElement(element)">
                                <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                            </button>
                        </td>

                    </ng-template>

                    <ng-template #readOnlyFields>

                        <td class="mat-cell">
                            {{element.start_date | date}}
                        </td>
                        <td class="mat-cell">
                            {{element.end_date | date}}
                        </td>

                        <td class="mat-cell">
                            {{element.work_unit_name}}
                        </td>
                        <td class="mat-cell">
                            {{element.material_type_name}}
                        </td>
                        <td class="mat-cell">

                        </td>
                    </ng-template>
                </tr>
            </ng-template>
        </table>





    </mat-card-content>
</mat-card>